<div class="block">
  <% if defined?(image) %>
    <a href="<%= defined?(link) ? link : "#" %>">
      <div class="block__image">
        <%= image_tag(image) %>
      </div>
    </a>
  <% end %>

  <div class="block__text">
    <h3>
      <a href="<%= defined?(link) ? link : "#" %>"><%= title %></a>
    </h3>
    <p><%= text %></p>
  </div>
</div>
