<footer class="footer" role="contentinfo">
  <div class="footer__container">
    <div class="footer__logo">
      <a href="/en/"><%= partial("components/illustrations/logo") %></a>
    </div>

    <nav class="footer__contacts">
      <h1>New Projects</h1>
      <p>Henrik Sjökvist<br>
      henrik@kollegorna.se<br>
      +46 – 73 – 505 29 29</p>

      <p>Karlbergsvägen 52,<br>
      Stockholm, Sweden</p>

    </nav>

    <div class="footer__navigation">
      <h1>Navigation</h1>
      <a href="/en/<%= t(:paths)[:work] %>/"><%= t(:nav)[:work] %></a>
      <a href="/en/about"><%= t(:nav)[:about] %></a>
      <a href="/en/colleagues"><%= t(:nav)[:colleagues] %></a>
      <a href="/en/contacts"><%= t(:nav)[:contacts] %></a>
      <a href="/en/careers"><%= t(:nav)[:careers] %></a>
    </div>

    <div class="footer__navigation">
      <h1>Social</h1>
      <%# <a href="#">Behance</a> %>
      <a href="https://dribbble.com/kollegorna" target="_blank">Dribbble</a>
      <a href="https://www.facebook.com/kollegorna" target="_blank">Facebook</a>
      <a href="https://github.com/kollegorna/" target="_blank">Github</a>
      <a href="https://www.instagram.com/kollegorna" target="_blank">Instagram</a>
      <a href="https://twitter.com/kollegorna" target="_blank">Twitter</a>
    </div>
  </div>
</footer>
