<footer class="footer" role="contentinfo">
  <div class="footer__container">
    <div class="footer__logo">
      <a href="/en/"><%= partial("components/illustrations/logo") %></a>
    </div>

    <nav class="footer__contacts">
      <h1>New Projects</h1>
      <p>Henrik Sjökvist<br>
      henrik@kollegorna.se<br>
      +46 – 73 – 505 29 29</p>

      <p>Karlbergsvägen 52,<br>
      Stockholm, Sweden</p>

    </nav>

    <div class="footer__navigation">
      <h1>Navigation</h1>
      <a href="/<%= t(:paths)[:work] %>/"><%= t(:nav)[:work] %></a>
      <a href="/colleagues"><%= t(:nav)[:colleagues] %></a>
      <a href="/about"><%= t(:nav)[:about] %></a>
      <a href="#"><%= t(:nav)[:contacts] %></a>
      <a href="#"><%= t(:nav)[:careers] %></a>
    </div>

    <div class="footer__navigation">
      <h1>Social</h1>
      <a href="#">Behance</a>
      <a href="#">Dribbble</a>
      <a href="#">Facebook</a>
      <a href="#">Github</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
    </div>
  </div>
</footer>
