<header class="header" role="contentinfo">
  <div class="header__logo">
    <a href="/"><%= partial("components/illustrations/logo") %></a>
  </div>

  <div class="header__button">
    <span class="before"></span>
    <span class="main"></span>
    <span class="after"></span>
  </div>

  <nav class="header__navigation">
    <a href="/<%= t(:paths)[:work] %>"><%= t(:nav)[:work] %></a>
    <a href="/<%= t(:paths)[:about] %>"><%= t(:nav)[:about] %></a>
    <a href="/<%= t(:paths)[:colleagues] %>"><%= t(:nav)[:colleagues] %></a>
  </nav>

  <div class="header__cta">
    <a class="language" href="/en"><%= image_tag("EN.png") %></a>
  </div>
</header>
