<header class="header" role="contentinfo">
  <div class="header__logo">
    <a href="/en/"><%= image_tag("kollegorna-k.svg") %></a>
  </div>

  <nav class="header__navigation">
    <a href="/en/<%= t(:paths)[:work] %>/"><%= t(:nav)[:work] %></a>
    <a href="/en/colleagues"><%= t(:nav)[:colleagues] %></a>
    <a href="/en/about"><%= t(:nav)[:about] %></a>
    <a href="#"><%= t(:nav)[:contacts] %></a>
  </nav>

  <div class="header__cta">
    <a class="language" href="/"><%= image_tag("SE.png") %></a>
  </div>
</header>
