<header class="header" role="contentinfo">
  <div class="header__logo">
    <a href="/"><%= image_tag("kollegorna-k.svg") %></a>
  </div>

  <nav class="header__navigation">
    <a href="/work/"><%= t(:nav)[:work] %></a>
    <a href="/feed"><%= t(:nav)[:feed] %></a>
    <a href="/colleagues"><%= t(:nav)[:colleagues] %></a>
    <a href=""><%= t(:nav)[:about] %></a>
    <a href=""><%= t(:nav)[:careers] %></a>
    <a href=""><%= t(:nav)[:contacts] %></a>
  </nav>

  <div class="header__cta">
    <a href="#"><%= t(:nav)[:work_with] %></a>
  </div>
</header>
