<header class="header" role="contentinfo">
  <div class="header__logo">
    <a href="/"><%= image_tag("kollegorna-k.svg") %></a>
  </div>

  <nav class="header__navigation">
    <a href="/<%= t(:paths)[:work] %>"><%= t(:nav)[:work] %></a>
    <a href="/<%= t(:paths)[:colleagues] %>"><%= t(:nav)[:colleagues] %></a>
    <a href="/<%= t(:paths)[:about] %>"><%= t(:nav)[:about] %></a>
  </nav>

  <div class="header__cta">
    <a href="#"><%= t(:nav)[:work_with] %></a>
    <a class="language" href="/en"><%= image_tag("EN.png") %></a>
  </div>
</header>
