<% wrap_layout :layout do %>

<main role="main">

  <article class="blog" role="article" vocab="http://schema.org/" typeof="BlogPosting">

    <header class="blog__header blog__header--article">
      <span><a href="/<%= I18n.locale %>/<%= t(:paths)[:blog] %>"><%= t(:nav)[:blog] %></a></span>
      <h1 property="name"><%= current_article.title %></h1>
      <time property="datePublished" datetime="<%= current_article.date.strftime('%Y-%m-%d') %>">
        <%= current_article.date.strftime('%Y-%m-%d') %>
      </time>
    </header>

    <div property="articleBody" class="blog__content">
      <%= yield %>
    </div>

    <footer class="blog__footer">
      <div class="blog__footer__meta">
        <div class="blog__footer__author">
          <a href="mailto:per@kollegorna.se">
            <img src="<%= image_path('avatars/per.jpg') %>" alt="Per Sandström">
            Per Sandström
          </a>
        </div>
        <div class="blog__footer__rss">
          <a href="/<%= I18n.locale %>/<%= t(:paths)[:feed] %>" class="blog-rss-link"><%= t(:blog)[:subscribe_rss] %> <svg><use xlink:href="<%= image_path 'sprite.svg' %>#icon-rss"></use></svg></a>
        </div>
      </div>
      <div class="blog__footer__more">
        <a href="/<%= I18n.locale %>/<%= t(:paths)[:blog] %>"><%= t(:blog)[:back_to_list] %></a>
      </div>
    </footer>

    <% if !current_article.data.disable_comments %>

    <div class="blog__comments">
      <div class="disqus">Loading comments &hellip;</div>
    </div>

    <% end %>

  </article>

</main>

<% end %>
