<% wrap_layout :layout do %>

<main role="main">

  <article class="blog" role="article">

    <header class="blog__header blog__header--article">
      <span><a href="/<%= I18n.locale %>/<%= t(:paths)[:blog] %>/"><%= t(:nav)[:blog] %></a></span>
      <h1><%= current_article.title %></h1>
      <time datetime="<%= current_article.date.strftime('%FT%R') %>">
        <%= current_article.date.strftime('%Y-%m-%d') %>
      </time>
    </header>

    <div class="blog__content">
      <%= yield %>
    </div>

    <footer class="blog__footer">
      <div class="blog__footer__meta">
        <div class="blog__footer__author">
          <% data.colleagues.each do |author| %>
            <% if current_article.data.author.is_a?(Array) %>
              <% current_article.data.author.each do |multiple_authors| %>
                <% if multiple_authors == author['firstname'].downcase %>
                  <div class="post-author" property="author" vocab="http://schema.org/" typeof="Person">
                    <div class="post-author__image">
                      <img property="image" src="<%= gravatar_for( author['email'] ) %>" alt="Bild på <%= author['firstname'] %> <%= author['lastname'] %>">
                    </div>
                    <div class="post-author__name">
                      <a property="email" href="mailto:<%= author['email'] %>">
                        <span property="givenName"><%= author['firstname'] %></span>
                        <span property="familyName"><%= author['lastname'] %></span></a>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% elsif author['firstname'].downcase == current_article.data.author %>
              <div class="post-author" property="author" vocab="http://schema.org/" typeof="Person">
                <div class="post-author__image">
                  <img property="image" src="<%= gravatar_for( author['email'] ) %>" alt="Bild på <%= author['firstname'] %> <%= author['lastname'] %>">
                </div>
                <div class="post-author__name">
                  <a property="email" href="mailto:<%= author['email'] %>">
                    <span property="givenName"><%= author['firstname'] %></span>
                    <span property="familyName"><%= author['lastname'] %></span></a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="blog__footer__rss">
          <a href="/<%= I18n.locale %>/<%= t(:paths)[:feed] %>" class="blog-rss-link">
            <%= t(:blog)[:subscribe_rss] %>
            <svg><use xlink:href="<%= image_path 'sprite.svg' %>#icon-rss"></use></svg>
          </a>
        </div>
      </div>

      <% if I18n.locale == :en %>
        <a href="https://medium.com/kollegorna">
          <div class="blog__footer__medium">
            <h2>Want to read newer posts?<br>
              Find us on Medium.</h2>

            <%= image_tag "blog/medium.png" %>
          </div>
        </a>
      <% else %>
        <div class="blog__footer__more">
          <a href="/<%= I18n.locale %>/<%= t(:paths)[:blog] %>/"><%= t(:blog)[:back_to_list] %></a>
        </div>
      <% end %>
    </footer>

    <% if !current_article.data.disable_comments %>

    <div class="blog__comments">
      <div class="disqus">Loading comments &hellip;</div>
    </div>

    <% end %>

  </article>

</main>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "<%= current_article.title %>",
    "url": "<%= current_article.url %>",
    "mainEntityOfPage": "<%= current_article.url %>",
    "inLanguage": "<%= I18n.locale %>",
    "datePublished": "<%= current_article.date.strftime('%Y-%m-%d') %>",
    "dateModified": "<%= current_article.date.strftime('%Y-%m-%d') %>",
    "description": "<%= current_article.data.description %>",
    "articleBody": <%= yield.to_json %>,
    "image": "<%= current_article.data.image.present? ? current_article.data.image : image_path('meta/og-image.jpg') %>",
    "publisher": {
      "@type": "Organization",
      "name": "Kollegorna",
      "url": "https://www.kollegorna.se",
      "logo": "https://www.kollegorna.se<%= image_path "logo.svg" %>"
    },
    "author": {
      "@type": "Person",
      "name": "Per Sandström",
      "email": "mailto:per@kollegorna.se",
      "address": "Karlbergsvägen 52, 113 37 Stockholm",
      "telephone": "+46702420750",
      "url": "<%= "/#{I18n.locale}/#{t(:paths)[:colleagues]}#per" %>",
      "image": "https://www.kollegorna.se<%= image_path "avatars/per.jpg" %>"
    }
  }
</script>

<% end %>
