<%

  meta_name        = "Kollegorna"
  meta_title       = t(:meta)[:title]
  meta_description = current_page.data.description || t(:meta)[:description]
  meta_og_img      = "https://www.kollegorna.se/#{image_path current_page.data.share_image || "og-image.jpg"}"
  meta_og_title    = current_page.data.title || meta_title

%><!DOCTYPE html>
<html lang="<%= I18n.locale || "sv" %>" class="no-js">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= current_page.data.title ? "#{current_page.data.title} | #{meta_name}" : "#{meta_name} | #{meta_title}" %></title>
  <meta name="description" content="<%= meta_description %>">

  <!-- Icons -->
  <link rel="shortcut icon" href="<%= image_path "favicons/favicon.ico" %>">
  <link rel="icon" href="<%= image_path "favicons/icon-256.png" %>">

  <!-- Chrome -->
  <meta name="theme-color" content="#00C66B"><!-- green -->
  <link rel="manifest" href="<%= image_path "favicons/manifest.json" %>">

  <!-- Safari -->
  <link rel="mask-icon" color="#222222" href="<%= image_path "favicons/safari-pinned-tab.svg" %>">
  <link rel="apple-touch-icon" href="<%= image_path "favicons/apple-touch-icon.png" %>">

  <!-- IE -->
  <meta name="application-name" content="<%= meta_name %>">
  <meta name="msapplication-TileImage" content="<%= image_path "favicons/icon-256.png" %>">
  <meta name="msapplication-TileColor" content="#FFFFFF">

  <!-- Google+, Schema.org -->
  <meta itemprop="name" content="<%= meta_og_title %>">
  <meta itemprop="description" content="<%= meta_description %>">
  <meta itemprop="image" content="<%= meta_og_img %>">

  <!-- Facebook -->
  <meta property="fb:app_id" content="327184264341676">
  <meta property="og:type" content="website" />
  <meta property="og:meta_name" content="<%= meta_name %>" />
  <meta property="og:title" content="<%= meta_og_title %>" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:image" content="<%= meta_og_img %>" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= meta_og_title %>" />
  <meta name="twitter:description" content="<%= meta_description %>" />
  <meta name="twitter:image:src" content="<%= meta_og_img %>" />
  <meta name="twitter:site" content="@kollegorna">
  <meta name="twitter:creator" content="@kollegorna">

  <!-- Other social networks -->
  <link rel="image_src" href="<%= meta_og_img %>" />

  <%= stylesheet_link_tag "https://cloud.typography.com/6077114/7879172/css/fonts.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= inline_javascript "modernizr" %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-11425486-1', 'auto');
    ga('require', 'displayfeatures');
    ga('require', 'linkid', 'linkid.js');
    ga('send', 'pageview');
  </script>

</head>
<body>

  <%= partial "partials/header" %>

  <%= yield %>

  <%= partial "partials/footer" %>

  <%= javascript_include_tag "application", defer: true %>

  <% if current_page.data.page_type == "work-item" %>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "VisualArtwork",
        "headline": "<%= current_page.data.title %>",
        "url": "https://www.kollegorna.se<%= current_page.url %>",
        "inLanguage": "<%= I18n.locale %>",
        "description": "<%= current_page.data.description %>",
        "image": "<%= meta_og_img %>",
        "author": {
          "@type": "Organization",
          "name": "Kollegorna",
          "url": "https://www.kollegorna.se",
          "logo": "https://www.kollegorna.se/<%= image_path "logo.svg" %>"
        }
      }
    </script>

  <% end %>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Kollegorna",
      "url": "https://www.kollegorna.se",
      "logo": "https://www.kollegorna.se<%= image_path "logo.svg" %>",
      "image": "https://www.kollegorna.se<%= image_path "og-image.jpg" %>",
      "description": "<%= meta_description %>",
      "sameAs": [
        "https://dribbble.com/kollegorna",
        "https://www.facebook.com/kollegorna",
        "https://github.com/kollegorna/",
        "https://www.instagram.com/kollegorna",
        "https://twitter.com/kollegorna"
      ]
    }
  </script>

</body>
</html>
