<header class="header" role="banner" id="header">

  <div class="header__logo">
    <a href="/<%= I18n.locale %>">
      <%= image_tag "logo.svg", alt: "Kollegorna logo" %>
    </a>
  </div>

  <div class="header__button" id="nav-toggler">
    <a href="#header" role="button" title="<%= t(:nav)[:nav_show] %>"><%= t(:nav)[:nav_show] %><span></span></a>
    <a href="#nav-toggler" role="button" title="<%= t(:nav)[:nav_hide] %>"><%= t(:nav)[:nav_hide] %><span></span></a>
  </div>

  <nav class="header__navigation">
    <a href="/<%= I18n.locale %>/<%= t(:paths)[:work] %>"><%= t(:nav)[:work] %></a>
    <a href="/<%= I18n.locale %>/<%= t(:paths)[:about] %>"><%= t(:nav)[:about] %></a>
    <a href="/<%= I18n.locale %>/<%= t(:paths)[:colleagues] %>"><%= t(:nav)[:colleagues] %></a>
  </nav>

  <div class="header__lang">
    <% if I18n.locale == :en %>
      <a href="/sv"><%= image_tag("SE.png") %></a>
    <% else %>
      <a href="/en"><%= image_tag("EN.png") %></a>
    <% end %>
  </div>

</header>
