<header class="header" role="banner" id="header">

  <div class="header__logo">
    <a href="/<%= I18n.locale %>/">
      <%= image_tag "logo.svg", alt: "Kollegorna logo" %>
    </a>
  </div>

  <div class="header__button" id="nav-toggler">
    <a href="#header" role="button" title="<%= t(:nav)[:nav_show] %>"><%= t(:nav)[:nav_show] %><span></span></a>
    <a href="#nav-toggler" role="button" title="<%= t(:nav)[:nav_hide] %>"><%= t(:nav)[:nav_hide] %><span></span></a>
  </div>

  <nav class="header__navigation">
    <a href="/<%= I18n.locale %>/<%= t(:paths)[:work] %>/"><%= t(:nav)[:work] %></a>
    <a href="/<%= I18n.locale %>/<%= t(:paths)[:about] %>/"><%= t(:nav)[:about] %></a>
    <a href="/<%= I18n.locale %>/<%= t(:paths)[:colleagues] %>/"><%= t(:nav)[:colleagues] %></a>
  </nav>

  <div class="header__lang">
    <ul>
      <% if I18n.locale == :en %>
        <li><a href="/sv/">Svenska</a></li>
        <li class="highlight"><a href="/en/">English</a></li>
        <li class="drop">
          More
          <ul>
            <li><a class="ar" href="#">العربية</a></li>
            <li><a href="#">French</a></li>
          </ul>
        </li>
      <% else %>
        <li class="highlight"><a href="/sv/">Svenska</a></li>
        <li><a href="/en/">English</a></li>
        <li class="drop">
          More
          <ul>
            <li><a class="ar" href="#">العربية</a></li>
            <li><a href="#">French</a></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

</header>
