<article class="block block--blog <%= defined?(full_width) ? "full" : "" %>">
  <a href="<%= defined?(link) ? link : "#" %>" target="_blank" rel="noopener">
    <div class="block__text">
      <p class="category">
        <% if defined?(category) %>
          <%= category %>
        <% else %>
          Blogg
        <% end %>
      </p>
      <h3><%= title %></h3>
      <p><%= text %></p>
    </div>


    <% if defined?(image) %>
      <div class="block__image">
        <%= image_tag(image) %>
      </div>
    <% end %>
  </a>
</article>
