---
title: About | Kollegorna
---

<main role="main" class="about">
  <section class="about__intro">
    <div class="about__intro__background"></div>
    <div class="about__intro__content">
      <div class="about__intro__headline">
        <h2>Vi skapar framgångsrika</h2>
        <h1>Digitala produkter, tjänster och affärer</h1>

        <p>Vi tänker, leder, skruvar, analyserar, uppfinner, prövar, kodar, löder, designar… Ett brinnande intresse för teknik, design och kommunikation driver oss framåt i jakten på ny kunskap och nya utmaningar.</p>

        <p>Om du redan har en idé om vad du ska göra kan vi jobba vidare med den. Annars tar vi fram ett lösningsförslag. Eller så jobbar vi fram något ihop.</p>

        <p>Låt oss göra något fantastiskt tillsammans. Hör av dig till Per Sandström på <a href="mailto: per@kollegorna.se">mail</a> eller <a href="tel:+46702420750">telefon</a>.</p>
      </div>
    </div>
  </section>

  <section class="about__features">
    <div class="about__features__row">

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/social.svg' %>
        </div>
        <div class="feature__content">
          <h1>Samhällsengagemang</h1>
          <p>Vi ska bidra till en bättre och mer rättvis värld. Under åren har vi stött <a href="http://www.wateraid.se">WaterAid</a>, <a href="http://www.unizon.se/">Unizon</a> och <a href="http://www.actionaid.se">ActionAid</a> på olika sätt i olika projekt så som WaterAids <a href="https://gavoshop.wateraid.se">gåvoshop</a> och <a href="https://manadsgivare.wateraid.se">månadsgivar-lösning</a> samt Unizons <a href="http://www.causeofdeathwoman.com">Cause of Death: Woman</a>.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/share.svg' %>
        </div>
        <div class="feature__content">
          <h1>Vi älskar att dela med oss</h1>
          <p>Om det är möjligt att bryta loss och generalisera kod vi tar fram så ser vi gärna att vi får göra detta i form av <a href="https://labs.kollegorna.se">olika öppen källkods-projekt</a> (inklusive <a href="https://github.com/kollegorna/kollegorna.se">denna sajt</a>). Vi har även valt att publicera <a href="https://rtfm.kollegorna.se">vår manual</a> som beskriver hur vi jobbar rent praktiskt.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/world.svg' %>
        </div>
        <div class="feature__content">
          <h1>Från Karibien till Östasien</h1>
          <p>Vi är ett distribuerat team utspridda från Santo Domingo till Plovdiv med hjärtat i Stockholm. I nationsmixen finns Sverige, Sydkorea, Slovakien, Litauen, Portugal och Dominikanska Republiken. <a href="/map">Kolla kartan</a>.</p>
        </div>
      </div>


      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/kong.svg' %>
        </div>
        <div class="feature__content">
          <h1>There's no business like snow business</h1>
          <p><a href="http://www.konginitiative.com">The Kong Initiative</a> är ett sidoprojekt vi driver där vi säljer stora snowboards till hela Europa.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/tech.svg' %>
        </div>
        <div class="feature__content">
          <h1>Vår teknikstack.</h1>
          <p>Vi är experter på Ruby on Rails och blandar även in Ember, Go, Node.js, Middleman samt WordPress beroende på vad som är bäst för varje projekt.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/tech.svg' %>
        </div>
        <div class="feature__content">
          <h1>Jobba här.</h1>
          <p>Just nu har vi inga lediga tjänster. Men låt inte det hindra dig om du tror att du är rätt person för oss. Läs gärna mer om <a href="/jobs">hur det är att jobba här</a>. Vi tar även emot praktikanter. Mejla <a href="mailto:per@kollegorna.se">Per Sandström</a>.</p>
        </div>
      </div>
</main>
