---
title: Kollegorna
---

<main role="main" class="about">
  <div class="about__background">
    <%= image_tag("about/texture_bg.png") %>
  </div>

  <section class="about__intro">
    <div class="about__intro__content">
      <div class="about__intro__headline">
        <p>Here's the deal...</p>
        <h1>We help the web feel, look and do good.
          And we can do it for you too.</h1>

        <h2>We can help devise your strategy, analyze your needs, propose solutions and steer your project to success.</h2>
      </div>

      <div class="about__intro__steps">
        <div class="step step--plan">
          <%= image_tag("about/plan.svg") %>

          <h3>Plan</h3>
          <p>Simple and efficient user interfaces, backed by a strong design expertise.</p>
        </div>

        <div class="step step--build">
          <%= image_tag("about/build.svg") %>
          <h3>Build</h3>
          <p>High-quality perfmormant code for projects of any scale.</p>
        </div>

        <div class="step step--release">
          <%= image_tag("about/release.svg") %>
          <h3>Release</h3>
          <p>We help you launch and monitor your products once they’re out.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="about__section about__section--social">
    <div class="about__section__icon">
      <%= image_tag 'about/social.svg' %>
    </div>
    <div class="about__section__content">
      <h1>Samhällsengagemang</h1>
      <p>Vi vill bidra till en bättre och mer rättvis värld och har under åren stött <a href="http://www.wateraid.se">WaterAid</a>, <a href="http://www.unizon.se/">Unizon</a> och <a href="http://www.actionaid.se">ActionAid</a> på olika sätt i olika projekt så som WaterAids <a href="https://gavoshop.wateraid.se">gåvoshop</a> och <a href="https://manadsgivare.wateraid.se">månadsgivar-lösning</a> samt Unizons <a href="http://www.causeofdeathwoman.com">Cause of Death: Woman</a>.</p>
    </div>
  </section>

  <section class="about__section about__section--share">
    <div class="about__section__icon">
      <%= image_tag 'about/share.svg' %>
    </div>
    <div class="about__section__content">
      <h1>Vi älskar att dela med oss</h1>
      <p>Om det är möjligt att bryta loss och generalisera kod vi tar fram så ser vi gärna att vi får göra detta i form av <a href="https://labs.kollegorna.se">olika öppen källkods-projekt</a> (inklusive <a href="https://github.com/kollegorna/kollegorna.se">denna sajt</a>). Vi har även valt att publicera <a href="https://rtfm.kollegorna.se">vår manual</a> som beskriver hur vi jobbar rent praktiskt.</p>
    </div>
  </section>

  <section class="about__section about__section--colleagues">
    <div class="about__section__icon">
      <%= image_tag 'about/world.svg' %>
    </div>
    <div class="about__section__content">
      <h1>Born in Sweden, made worldwide</h1>
      <p>Vi är ett distribuerat team utspridda från Santo Domingo till Seoul med hjärtat i Stockholm. I nationsmixen finns Sverige, Sydkorea, Slovakien, Portugal och Dominikanska Republiken.</p>
    </div>
  </section>

  <section class="about__section about__section--colleagues">
    <div class="about__section__icon">
      <%= image_tag 'about/kong.svg' %>
    </div>
    <div class="about__section__content">
      <h1>There's no business like snow business</h1>
      <p><a href="http://www.konginitiative.com">The Kong Initiative</a> är ett sidoprojekt vi driver där vi säljer stora snowboards till hela Europa.</p>
    </div>
  </section>

  <section class="about__section about__section--colleagues">
    <div class="about__section__icon">
      <%= image_tag 'about/tech.svg' %>
    </div>
    <div class="about__section__content">
      <h1>Vår teknikstack</h1>
      <p>Vi är experter på Ruby on Rails och blandar även in Ember, Go, Node.js, Middleman samt WordPress beroende på vad som är bäst för varje projekt.</p>
    </div>
  </section>
</main>
