---
title: Om oss
description: "Vi tänker, leder, skruvar, analyserar, uppfinner, prövar, kodar, löder, designar…"
page_type: about
---

<main role="main" class="about">

  <section class="about__intro">
    <div class="about__intro__background"></div>
    <div class="about__intro__content">
      <div class="about__intro__headline">
        <h2>Vi skapar framgångsrika</h2>
        <h1>Digitala produkter, tjänster och affärer</h1>

        <p>Vi tänker, leder, skruvar, analyserar, uppfinner, prövar, kodar, löder, designar… Ett brinnande intresse för teknik, design och kommunikation driver oss framåt i jakten på ny kunskap och nya utmaningar.</p>

        <p>Om du redan har en idé om vad du ska göra kan vi jobba vidare med den. Annars tar vi fram ett lösningsförslag. Eller så jobbar vi fram något ihop.</p>

        <p>Låt oss göra något fantastiskt tillsammans. <a href="tel:+46702420750">Ring</a> eller <a href="mailto: per@kollegorna.se">meja</a> till <a href="/sv/kollegor/per">Per Sandström</a>.</p>
      </div>
    </div>
  </section>

  <section class="about__features">
    <div class="about__features__row">

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/social.svg' %>
        </div>
        <div class="feature__content">
          <h1>Samhällsengagemang</h1>
          <p>Vi ska bidra till en bättre om mer rättvis värld. Under åren har vi gjort ett flertal pro bono-projekt samt donerar regelbundet pengar till olika organisationer. <a href="/en/csr">Hur vi jobbar med CSR</a>.</p>

        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/tech.svg' %>
        </div>
        <div class="feature__content">
          <h1>Vår teknikstack.</h1>
          <p>Vi är experter på Ruby on Rails och blandar även in WordPress, React, NativeScript, Ember.js, Go, Node.js, Gatsby.js samt Middleman beroende på vad som är bäst för varje projekt. <br>Spana även in vår <a href="https://radar.kollegorna.se">tech radar</a>.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/kong.svg' %>
        </div>
        <div class="feature__content">
          <h1>There's no business like snow business</h1>
          <p><a href="http://www.konginitiative.com">The Kong Initiative</a> är ett sidoprojekt vi driver där vi säljer stora snowboards till hela Europa.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/work.svg' %>
        </div>
        <div class="feature__content">
          <h1>Jobba hos oss</h1>
          <p>Vi har inga lediga tjänster i nuläget. Men om du tycker att vi bör känna till dig ändå, <a href="mailto:jobs@kollegorna.se">skicka oss ett mail</a>. <a href="/en/careers/">Mer information om hur det är att jobba här</a>.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/share.svg' %>
        </div>
        <div class="feature__content">
          <h1>Vi älskar att dela med oss</h1>
          <p>Om det är möjligt att bryta loss och generalisera kod vi tar fram så ser vi gärna att vi får göra detta i form av <a href="https://github.com/kollegorna" target="_blank" rel="noopener">olika öppen källkods-projekt</a> (inklusive <a href="https://github.com/kollegorna/kollegorna.se" target="_blank" rel="noopener">denna sajt</a>). Vi har även valt att publicera <a href="https://rtfm.kollegorna.se" target="_blank" rel="noopener">vår manual</a> som beskriver hur vi jobbar rent praktiskt.</p>
          <ul class="is-hidden js--labs-posts-fetch">
          </ul>
        </div>
      </div>

    </div>
  </section>

</main>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "AboutPage",
    "name": "<%= current_page.data.title %>",
    "description": "<%= current_page.data.description %>",
    "url": "<%= current_page.url %>",
    "mainEntityOfPage": "<%= current_page.url %>",
    "image": "https://www.kollegorna.se<%= image_path "meta/og-image.jpg" %>",
    "inLanguage": "<%= I18n.locale %>",
    "sameAs": [
      "https://dribbble.com/kollegorna",
      "https://www.facebook.com/kollegorna",
      "https://github.com/kollegorna/",
      "https://www.instagram.com/kollegorna",
      "https://twitter.com/kollegorna"
    ]
  }
</script>
