---
title: About us
description: "We think, lead, tinker, analyze, invent, test, code, solder, design…"
page_type: about
---

<main role="main" class="about">

  <section class="about__intro">
    <div class="about__intro__background"></div>
    <div class="about__intro__content">
      <div class="about__intro__headline">
        <h2>We build successful</h2>
        <h1>Digital products, services and businesses</h1>

        <p>We think, lead, tinker, analyze, invent, test, code, solder, design… A passion for technology, design and communication drives us forward in the pursuit of new knowledge and new challenges.</p>

        <p>If you already have an idea of what you want to do we can build on it. If not we can produce a complete proposal for you. Or we can hammer it out together.</p>

        <p>Let's make something great together. Get in touch with Per Sandström by <a href="mailto: per@kollegorna.se">e-mail</a>, <a href="skype:ps1100?call">Skype</a> or <a href="tel:+46702420750">phone</a>.</p>
      </div>
    </div>
  </section>

  <section class="about__features">
    <div class="about__features__row">

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/social.svg' %>
        </div>
        <div class="feature__content">
          <h1>Social responsibility</h1>
          <p>We want to contribute to a better and more just world. During the years we've done a variety of pro bono projects and we do regular donations to non profit organisations. <a href="/en/csr">More about our CSR work</a>.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/tech.svg' %>
        </div>
        <div class="feature__content">
          <h1>Our technology stack</h1>
          <p>We're experts in Ruby on Rails, but we also like to use Ember.js, Go, Node.js, Middleman and WordPress depending on the project's needs.<br>And don't miss our <a href="https://radar.kollegorna.se">tech radar</a>.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/kong.svg' %>
        </div>
        <div class="feature__content">
          <h1>There's no business like snow business</h1>
          <p>Our side project <a href="http://www.konginitiative.com">The Kong Initiative</a> sells the largest snowboards on the market across Europe.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/work.svg' %>
        </div>
        <div class="feature__content">
          <h1>Work with us</h1>
          <p>We don't have any open positions at the moment. But if you feel that we should talk anyway <a href="mailto:jobs@kollegorna.se">send us an email</a>. <a href="/en/careers/">More information on what it's like working here</a>.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/share.svg' %>
        </div>
        <div class="feature__content">
          <h1>We love to share</h1>
          <p>
            We've published <a href="https://rtfm.kollegorna.se" target="_blank" rel="noopener">our manual</a>
            that describes how we work in practice. Whenever it's possible to break out pieces of a project for general use we love it if it can join
            <a href="https://github.com/kollegorna" target="_blank" rel="noopener">our open source projects</a>
            (including <a href="https://github.com/kollegorna/kollegorna.se" target="_blank" rel="noopener">this site</a>)
            or our <a href="https://blog.kollegorna.se" target="_blank" rel="noopener">blog</a> in a form of article.
            <span class="js--labs-posts-fetch-display is-hidden">Here are the latest ones:</span>
          </p>
          <ul class="is-hidden js--labs-posts-fetch">
          </ul>
        </div>
      </div>

    </div>
  </section>

</main>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "AboutPage",
    "name": "<%= current_page.data.title %>",
    "description": "<%= current_page.data.description %>",
    "url": "<%= current_page.url %>",
    "mainEntityOfPage": "<%= current_page.url %>",
    "image": "https://www.kollegorna.se<%= image_path "meta/og-image.jpg" %>",
    "inLanguage": "<%= I18n.locale %>",
    "sameAs": [
      "https://dribbble.com/kollegorna",
      "https://www.facebook.com/kollegorna",
      "https://github.com/kollegorna/",
      "https://www.instagram.com/kollegorna",
      "https://twitter.com/kollegorna"
    ]
  }
</script>
