---
title: About | Kollegorna
---

<main role="main" class="about">
  <section class="about__intro">
    <div class="about__intro__background"></div>
    <div class="about__intro__content">
      <div class="about__intro__headline">
        <h1>We're a team of passionate developers and designers building first-rate web sites and web applications.</h1>

        <h2>We can help devise your strategy, analyze your needs, propose solutions and steer your project to success.</h2>

        <h2>A burning interest in all things internet drives us forward in the pursuit of new knowledge and new challenges.</h2>
      </div>
    </div>
  </section>

  <section class="about__features">
    <div class="about__features__row">

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/social.svg' %>
        </div>
        <div class="feature__content">
          <h1>Social responsibility</h1>
          <p>We want to contribute to a better and more just world and in the last few years we've supported <a href="http://www.wateraid.se">WaterAid</a>, <a href="http://www.unizon.se/">Unizon</a> and <a href="http://www.actionaid.se">ActionAid</a> in various projects, such as the <a href="https://gavoshop.wateraid.se">giftshop</a> and <a href="https://manadsgivare.wateraid.se">monthly donator solution</a> from WaterAid plus <a href="http://www.causeofdeathwoman.com">Cause of Death: Woman</a> from Unizon.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/share.svg' %>
        </div>
        <div class="feature__content">
          <h1>We love to share</h1>
          <p>Whenever it's possible to break out pieces of a project for general use we love it if it can join <a href="https://labs.kollegorna.se">our open source projects</a> (including <a href="https://github.com/kollegorna/kollegorna.se">this site</a>). We've also published <a href="https://rtfm.kollegorna.se">our manual</a> that describes how we work in practice.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/world.svg' %>
        </div>
        <div class="feature__content">
          <h1>Born in Sweden, made worldwide</h1>
          <p>We're a distributed team spread across the world from Santo Domingo to Plovdiv with the heart in Stockholm. We have team members from Sweden, Greece, Slovakia, Bulgaria, Lithuania,  Portugal and the Dominican Republic.</p>
        </div>
      </div>


      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/kong.svg' %>
        </div>
        <div class="feature__content">
          <h1>There's no business like snow business</h1>
          <p>Our side project <a href="http://www.konginitiative.com">The Kong Initiative</a> sells the largest snowboards on the market across Europe.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature__icon">
          <%= image_tag 'about/tech.svg' %>
        </div>
        <div class="feature__content">
          <h1>Our technology stack</h1>
          <p>We're experts in Ruby on Rails, but we also like to use Ember.js, Go, Node.js, Middleman and WordPress depending on the project's needs.</p>
        </div>
      </div>
    </section>
</main>
