---
title: Careers
description: "If you love working with the web you'll love working here."
---

<main role="main" class="about">

  <section class="about__intro">
    <div class="about__intro__background"></div>
    <div class="about__intro__content">
      <div class="about__intro__headline">
        <h2>Join us!</h2>
        <h1>If you love working with the web you'll love working here.</h1>

        <p>
          <em>We don't have any open positions at the moment. But if you feel that we should talk anyway <a href="mailto:jobs@kollegorna.se">send us an email</a>.</em>
        </p>
      </div>
    </div>
  </section>


  <section class="about__details">
    <div class="about__section">
      <div class="about__section__content">
        <h2>Hello there!</h2>

        <p>We're a distributed digital agency spread from Santo Domingo to Plovdiv with roots and HQ in Stockholm, Sweden. Beside a lot love and passion we use Ruby on Rails, JavaScript, Go and WordPress depending on the requirements for each project. We work directly with our clients as well as sub contractors to other agencies. There are no dogmatic opinions regarding specific methodologies or process and are very flexible in how we work.</p>
      </div>
    </div>

    <div class="about__features">
      <div class="about__features__row">

        <div class="feature feature--careers">
          <h1>Client work ranging from… 💼</h1>
          <p>…campaign sites (<a href="/en/work/the-icebreaker-machine">The Icebreaker Machine</a>, <a href="/en/work/dina-risker">Dina Risker</a>), digital health applications (<a href="/en/work/genombrott">Genombrott</a>), fintech services (<a href="/en/work/vembi">Vembi</a>), e-commerce (<a href="https://gavoshop.wateraid.se">WaterAid</a>), editorial sites (<a href="https://www.medievarlden.se/">Medievärlden</a>), editorial premium content sites (<a href="/en/work/medievarlden-premium">Medievärlden Premium</a>, <a href="/en/work/bg-play">BG Play</a>) to single sign-on solutions (<a href="https://accounts.paradoxplaza.com/">Paradox Accounts</a>, <a href="https://login.redeye.se">Redeye</a>).</p>
        </div>

        <div class="feature feature--careers">
          <h1>Own ventures 🚀</h1>
          <p>We also do own commercial projects like <a href="http://www.konginitiative.com">The Kong Initiative</a> (online snowboard store), <a href="http://gpx.io">GPX.io</a> (show off your activities in a simple way) and <a href="https://www.releasefest.se">Releasefest</a> (a Swedish ProductHunt of sorts).</p>
        </div>

        <div class="feature feature--careers">
          <h1>Open source 💘</h1>
          <p>And of course we contribute to open source with project such as <a href="https://github.com/kollegorna/active_hash_relation">active_hash_relation</a>, <a href="https://github.com/kollegorna/activeadmin-logins">ActiveAdmin Logins</a>, <a href="https://github.com/kollegorna/middleman-boilerplate">middleman-boilerplate</a> and <a href="https://github.com/kollegorna/rubycas-server-activerecord">Rubycas::Server::Activerecord</a>. See more on <a href="https://github.com/kollegorna/">our GitHub account</a>.</p>
        </div>

      </div>
    </div>
  </section>

  <section class="about__work">
    <div class="about__section">
      <div class="about__section__content">
        <h2>What it's like working here</h2>

        <ul>
          <li>You have big opportunities to <strong>influence your job and how we work</strong>.</li>
          <li>You'll enjoy a <strong>creative and smooth work environment</strong>.</li>
          <li>We're the best colleagues.</li>
          <li>Remote work = OK. We have our HQ in Stockholm but you're free to <strong>work from wherever you want within the Milky Way</strong>.</li>
          <li>As we're an international team English is the lingua franca internally. We also speak Swedish, Portuguese, Spanish, Greek, Slovak, Bulgarian and Lithuanian…</li>
          <li>Leave no colleague behind! You'll never end up on a long-term contract on your own at some clients' office.</li>
          <li><strong>25 days of paid vacation</strong> every year.</li>
          <li><strong>Personal Development Days</strong> – Every sixth week everyone is free to choose an area in which to boost their skills over three days: Thursday, Friday and Monday.</li>
          <li><strong>Company Development Days</strong> – When we feel it's necessary to learn new stuff we take time off to do that. How often and how long varies. On the Company Development Days we pick a mutual thing to learn in contrast to the Personal Development Days where you pick freely what you want.</li>
          <li>Overtime is our enemy and should not exist. You work 9-5, 8–4, 10–6 or whatever suits you. If you can't stop building stuff then go do good deeds in open source!</li>
          <li>Workload: Every year has 224–229 work days depending on what days the Swedish national holidays occur. Out of these approx 170 will be spent on client work, since the following days are excluded: 25 vacation days, 22 personal development days and 5–10 days conference/training days.</li>
          <li><strong>Health/fitness benefits</strong> (up to 3000 SEK/year), insurance, doctors appointments during work. Staying healthy is vital to do a good day's work.</li>
          <li>Pension savings following Swedish standards ITP1/ITP2. This amounts to 4,5% of your monthly salary.</li>
          <li><strong>Company trips</strong>. We love travelling the world and make sure to go somewhere at least one time per year.</li>
          <li>Up to 350 SEK (approx €38, $50 or £30) each month to spend on <strong>stuff that makes you a better designer or developer</strong>. Upgrade your GitHub account? Play around with a VPS on Digital Ocean? Pro account on CodePen? Fill your ebook reader with an unhealthy amount of ebooks? It's your choice.</li>
          <li id="stapler">Your own stapler. <a href="https://www.youtube.com/watch?v=Vd4fj9Efl4s">To avoid fires</a>.</li>
          <li>A <strong>MacBook Pro</strong>, MacBook Air or whatever computer you prefer that runs OS X or Linux.</li>
          <li>Enjoy working the finest tools of the trade such as Slack, Trello, Quip, GitHub, Harvest and Basecamp. Among the things powering us are Heroku, Codeship, Honeybadger, New Relic and Skylight.</li>
          <li>Human love not enough for you? Kobot, our friendly company robot, will be there for you 24/7. (<a href="https://gist.github.com/persand/4940f40616299c76c720">Here's a list of some of the things he can do</a>.)</li>
        </ul>
      </div>
    </div>
  </section>
</main>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "AboutPage",
    "name": "<%= current_page.data.title %>",
    "description": "<%= current_page.data.description %>",
    "url": "<%= current_page.url %>",
    "mainEntityOfPage": "<%= current_page.url %>",
    "image": "https://www.kollegorna.se<%= image_path "meta/og-image.jpg" %>",
    "inLanguage": "<%= I18n.locale %>",
    "sameAs": [
      "https://dribbble.com/kollegorna",
      "https://www.facebook.com/kollegorna",
      "https://github.com/kollegorna/",
      "https://www.instagram.com/kollegorna",
      "https://twitter.com/kollegorna"
    ]
  }
</script>
