---
title: Kollegor
---

<main role="main" class="colleagues">
  <header class="colleagues__header">
    <div class="colleagues__header__icon">
      <%= image_tag 'born-in-sweden.svg' %>
    </div>
    <div class="colleagues__header__content">
      <h1><%= t(:colleagues)[:slogan] %></h1>
      <p><%= t(:colleagues)[:description] %></p>
    </div>
  </header>

  <section class="colleagues__list feed">
    <article class="profile block" itemscope itemtype="http://schema.org/Person">
      <div class="profile__background map" data-markers="false">
        <div class="marker" data-lat="59.329323" data-lng="18.068581"></div>
      </div>

      <figure class="profile__image">
        <img itemprop="image" src="<%= image_path('avatars/per.jpg') %>" alt="Per Sandström">
      </figure>

      <h1 class="profile__name" itemprop="name">Per Sandström</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer + Partner</h2>

      <div class="profile__contact">
        <a href="mailto:per@kollegorna.se" itemprop="email">per@kollegorna.se</a>
        <a href="callto:+46702420750" itemprop="telephone">070 – 242 07 50</a>
      </div>

      <div class="profile__location">
        <div class="profile__icon">
          <%= image_tag 'icon-map-pin.svg' %>
        </div>
        Stockholm, Sweden
      </div>

      <div class="profile__links">
        <a href="https://github.com/persand" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-github.svg' %>
          </div>
          persand
        </a>

        <a href="https://twitter.com/persand" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-twitter.svg' %>
          </div>
          @persand
        </a>

        <a href="https://www.facebook.com/permalink" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-facebook.svg' %>
          </div>
          Per Sandström
        </a>

        <a href="https://se.linkedin.com/in/psandstrom" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-linkedin.svg' %>
          </div>
          Per Sandström
        </a>
      </div>
    </article>

    <article class="profile block" itemscope itemtype="http://schema.org/Person">
      <div class="profile__background map" data-markers="false">
        <div class="marker" data-lat="59.329323" data-lng="18.068581"></div>
      </div>

      <figure class="profile__image">
        <img itemprop="image" src="<%= image_path('avatars/henrik.jpg') %>" alt="Henrik Sjökvist">
      </figure>

      <h1 class="profile__name" itemprop="name">Henrik Sjökvist</h1>
      <h2 class="profile__title" itemprop="jobTitle">Utvecklare + Partner</h2>

      <div class="profile__contact">
        <a href="mailto:henrik@kollegorna.se" itemprop="email">henrik@kollegorna.se</a>
        <a href="callto:+46735052929" itemprop="telephone">073 – 505 29 29</a>
      </div>

      <div class="profile__location">
        <div class="profile__icon">
          <%= image_tag 'icon-map-pin.svg' %>
        </div>
        Stockholm, Sweden
      </div>

      <div class="profile__links">
        <a href="https://github.com/henrrrik" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-github.svg' %>
          </div>
          henrrrik
        </a>

        <a href="https://twitter.com/henrrrik" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-twitter.svg' %>
          </div>
          @henrrrik
        </a>

        <a href="https://se.linkedin.com/in/hsjokvist" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-linkedin.svg' %>
          </div>
          Henrik Sjökvist
        </a>
      </div>
    </article>

    <article class="profile block" itemscope itemtype="http://schema.org/Person">
      <div class="profile__background map" data-markers="false">
        <div class="marker" data-lat="41.545449" data-lng="-8.426507"></div>
      </div>

      <figure class="profile__image">
        <img itemprop="image" src="<%= image_path('avatars/eduardo.jpg') %>" alt="Eduardo Nunes">
      </figure>

      <h1 class="profile__name" itemprop="name">Eduardo Nunes</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer + Partner</h2>

      <div class="profile__contact">
        <a href="mailto:eduardo@kollegorna.se" itemprop="email">eduardo@kollegorna.se</a>
      </div>

      <div class="profile__location">
        <div class="profile__icon">
          <%= image_tag 'icon-map-pin.svg' %>
        </div>
        Braga, Portugal
      </div>

      <div class="profile__links">
        <a href="https://github.com/emmnunes" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-github.svg' %>
          </div>
          emmnunes
        </a>

        <a class="profile__tumblr" href="http://tumblr.eduardonunes.me/" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-tumblr.svg' %>
          </div>
          tumblr.eduardonunes.me
        </a>

        <a href="https://dribbble.com/eduardonunes" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-dribbble.svg' %>
          </div>
          eduardonunes
        </a>

        <a href="https://pt.linkedin.com/in/emnunes" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-linkedin.svg' %>
          </div>
          Eduardo Nunes
        </a>
      </div>
    </article>

    <article class="profile block" itemscope itemtype="http://schema.org/Person">
      <div class="profile__background map" data-markers="false">
        <div class="marker" data-lat="59.329323" data-lng="18.068581"></div>
      </div>

      <figure class="profile__image">
        <img itemprop="image" src="<%= image_path('avatars/bindiya.jpg') %>" alt="Bindiya Thakkar">
      </figure>

      <h1 class="profile__name" itemprop="name">Bindiya Thakkar</h1>
      <h2 class="profile__title" itemprop="jobTitle">Analytiker, projektledare</h2>

      <div class="profile__contact">
        <a href="mailto:bindiya@kollegorna.se" itemprop="email">bindiya@kollegorna.se</a>
      </div>

      <div class="profile__location">
        <div class="profile__icon">
          <%= image_tag 'icon-map-pin.svg' %>
        </div>
        Stockholm, Sweden
      </div>

      <div class="profile__links">
        <a href="https://www.facebook.com/bindiyat" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-facebook.svg' %>
          </div>
          Bindiya Thakkar
        </a>

        <a href="https://twitter.com/bindiyat" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-twitter.svg' %>
          </div>
          @bindiyat
        </a>

        <a href="https://www.linkedin.com/in/bindiya-thakkar-20361959" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-linkedin.svg' %>
          </div>
          Bindiya Thakkar
        </a>
      </div>
    </article>

    <article class="profile block" itemscope itemtype="http://schema.org/Person">
      <div class="profile__background map" data-markers="false">
          <div class="marker" data-lat="48.370911" data-lng="17.583322"></div>
      </div>

      <figure class="profile__image">
        <img itemprop="image" src="<%= image_path('avatars/ivan.jpg') %>" alt="Ivan Novosad">
      </figure>

      <h1 class="profile__name" itemprop="name">Ivan Novosad</h1>
      <h2 class="profile__title" itemprop="jobTitle">Utvecklare</h2>

      <div class="profile__contact">
        <a href="mailto:ivan@kollegorna.se" itemprop="email">ivan@kollegorna.se</a>
      </div>

      <div class="profile__location">
        <div class="profile__icon">
          <%= image_tag 'icon-map-pin.svg' %>
        </div>
        Trnava, Slovakia
      </div>

      <div class="profile__links">
        <a href="https://github.com/ivannovosad" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-github.svg' %>
          </div>
          ivannovosad
        </a>

        <a href="https://twitter.com/ivannovosad" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-twitter.svg' %>
          </div>
          @ivannovosad
        </a>
      </div>
    </article>

    <article class="profile block" itemscope itemtype="http://schema.org/Person">
      <div class="profile__background map" data-markers="false">
        <div class="marker" data-lat="18.486058" data-lng="-69.931212"></div>
      </div>

      <figure class="profile__image">
        <img itemprop="image" src="<%= image_path('avatars/raymall.jpg') %>" alt="Raymall Pérez">
      </figure>

      <h1 class="profile__name" itemprop="name">Raymall Pérez</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer</h2>

      <div class="profile__contact">
        <a href="mailto:raymall@kollegorna.se" itemprop="email">raymall@kollegorna.se</a>
      </div>

      <div class="profile__location">
        <div class="profile__icon">
          <%= image_tag 'icon-map-pin.svg' %>
        </div>
        Santo Domingo, Dominican Republic
      </div>

      <div class="profile__links">
        <a href="https://github.com/raymallperez" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-github.svg' %>
          </div>
          raymallperez
        </a>

        <a href="https://twitter.com/raymallperez" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-twitter.svg' %>
          </div>
          @raymallperez
        </a>
      </div>
    </article>

    <article class="profile block" itemscope itemtype="http://schema.org/Person">
      <div class="profile__background map" data-markers="false">
        <div class="marker" data-lat="56.046467" data-lng="12.694512"></div>
      </div>

      <figure class="profile__image">
        <img itemprop="image" src="<%= image_path('avatars/dennis.jpg') %>" alt="Dennis Carlsson">
      </figure>

      <h1 class="profile__name" itemprop="name">Dennis Carlsson</h1>
      <h2 class="profile__title" itemprop="jobTitle">Utvecklare</h2>

      <div class="profile__contact">
        <a href="mailto:dennis@kollegorna.se" itemprop="email">dennis@kollegorna.se</a>
      </div>

      <div class="profile__location">
        <div class="profile__icon">
          <%= image_tag 'icon-map-pin.svg' %>
        </div>
        Helsingborg, Sweden
      </div>

      <div class="profile__links">
        <a href="https://github.com/dencarlsson" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-github.svg' %>
          </div>
          dencarlsson
        </a>

        <a href="https://twitter.com/dencarlsson" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-twitter.svg' %>
          </div>
          @dencarlsson
        </a>
      </div>
    </article>

    <article class="profile block" itemscope itemtype="http://schema.org/Person">
      <div class="profile__background map" data-markers="false">
        <div class="marker" data-lat="41.545449" data-lng="-8.426507"></div>
      </div>

      <figure class="profile__image">
        <img itemprop="image" src="<%= image_path('avatars/filippos.jpg') %>" alt="Filippos Vasilakis">
      </figure>

      <h1 class="profile__name" itemprop="name">Filippos Vasilakis</h1>
      <h2 class="profile__title" itemprop="jobTitle">Utvecklare</h2>

      <div class="profile__contact">
        <a href="mailto:filippos@kollegorna.se" itemprop="email">filippos@kollegorna.se</a>
      </div>

      <div class="profile__location">
        <div class="profile__icon">
          <%= image_tag 'icon-map-pin.svg' %>
        </div>
        Stockholm, Sweden
      </div>

      <div class="profile__links">
        <a href="https://github.com/vasilakisfil" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-github.svg' %>
          </div>
          vasilakisfil
        </a>

        <a href="https://twitter.com/vasilakisfil" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-twitter.svg' %>
          </div>
          @vasilakisfil
        </a>
      </div>
    </article>

    <article class="profile block" itemscope itemtype="http://schema.org/Person">
      <div class="profile__background map" data-markers="false">
        <div class="marker" data-lat="42.135408" data-lng="24.745290"></div>
      </div>

      <figure class="profile__image">
        <img itemprop="image" src="<%= image_path('avatars/nikolay.jpg') %>" alt="Nikolay Lechev">
      </figure>

      <h1 class="profile__name" itemprop="name">Nikolay Lechev</h1>
      <h2 class="profile__title" itemprop="jobTitle">Designer</h2>

      <div class="profile__contact">
        <a href="mailto:nikolay@kollegorna.se" itemprop="email">nikolay@kollegorna.se</a>
      </div>

      <div class="profile__location">
        <div class="profile__icon">
          <%= image_tag 'icon-map-pin.svg' %>
        </div>
        Plovdiv, Bulgaria
      </div>

      <div class="profile__links">
        <a href="https://dribbble.com/iamlechev" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-dribbble.svg' %>
          </div>
          iamlechev
        </a>

        <a href="https://twitter.com/iamlechev" itemprop="sameAs">
          <div class="profile__icon">
            <%= image_tag 'icon-twitter.svg' %>
          </div>
          @iamlechev
        </a>
      </div>
    </article>
  </section>
</main>
