---
title: Colleagues
description: "We're a distributed team where everyone is an expert in their field. From Santo Domingo in the west to Plovdiv in the east with our heart in Stockholm. In our blend of nationalities you find Sweden, Greece, Slovakia, Bulgaria, Lithuania, Portugal and the Dominican Republic."
page_type: colleagues
---

<main role="main" class="colleagues">
  <header class="colleagues__header">
    <div class="colleagues__header__content">
      <h1><%= t(:colleagues)[:slogan] %></h1>
      <p><%= t(:colleagues)[:description] %></p>
    </div>
  </header>

  <div class="colleagues__team">
    <%= image_tag 'team/team.jpg' %>
  </div>

  <section class="colleagues__list">
    <%= partial("partials/colleague", :locals => {
      :name   => "Dennis Carlsson",
      :role   => "#{t(:colleagues)[:dennis][:role]}",
      :image  => "dennis.jpg",
      :link   => "/en/team/dennis"
    }) %>

    <%= partial("partials/colleague", :locals => {
      :name   => "Eduardo Nunes",
      :role   => "#{t(:colleagues)[:eduardo][:role]}",
      :image  => "eduardo.jpg",
      :link   => "/en/team/eduardo"
    }) %>

    <%= partial("partials/colleague", :locals => {
      :name   => "Filippos Vasilakis",
      :role   => "#{t(:colleagues)[:filippos][:role]}",
      :image  => "filippos.jpg",
      :link   => "/en/team/filippos"
    }) %>

    <%= partial("partials/colleague", :locals => {
      :name   => "Henrik Sjökvist",
      :role   => "#{t(:colleagues)[:henrik][:role]}",
      :image  => "henrik.jpg",
      :link   => "/en/team/henrik"
    }) %>

    <%= partial("partials/colleague", :locals => {
      :name   => "Ivan Novosad",
      :role   => "#{t(:colleagues)[:ivan][:role]}",
      :image  => "ivan.jpg",
      :link   => "/en/team/ivan"
    }) %>

    <%= partial("partials/colleague", :locals => {
      :name   => "Nikolay Lechev",
      :role   => "#{t(:colleagues)[:nikolay][:role]}",
      :image  => "nikolay.jpg",
      :link   => "/en/team/nikolay"
    }) %>

    <%= partial("partials/colleague", :locals => {
      :name   => "Osvaldas Valutis",
      :role   => "#{t(:colleagues)[:osvaldas][:role]}",
      :image  => "osvaldas.jpg",
      :link   => "/en/team/osvaldas"
    }) %>

    <%= partial("partials/colleague", :locals => {
      :name   => "Per Sandström",
      :role   => "#{t(:colleagues)[:per][:role]}",
      :image  => "per.jpg",
      :link   => "/en/team/per"
    }) %>

    <%= partial("partials/colleague", :locals => {
      :name   => "Raymall Pérez",
      :role   => "#{t(:colleagues)[:raymall][:role]}",
      :image  => "raymall.jpg",
      :link   => "/en/team/raymall"
    }) %>

    <%= partial("partials/colleague", :locals => {
      :name   => "Ricardo Marques",
      :role   => "#{t(:colleagues)[:ricardo][:role]}",
      :image  => "ricardo.jpg",
      :link   => "/en/team/ricardo"
    }) %>
  </section>
</main>
