---
---

<main role="main" class="index">
  <section class="index__hero">
    <div class="index__hero__headline">
      <p><%= t(:index)[:hello] %></p>
      <h1><%= t(:index)[:short_bio] %></h1>
    </div>
  </section>

  <section class="index__feed">
    <header class="index__feed__header">
      <h2><%= t(:index)[:from_feed] %></h2>
    </header>

    <div id="gridloader">
      <div class="blob blob-0"></div>
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
      <div class="blob blob-4"></div>
      <div class="blob blob-5"></div>
    </div>

    <div class="index__feed__blocks feed grid">
      <%= partial("components/feed/blog", :locals => {
        :title => "Spoil movies instead of lives",
        :text => "As an organ donor you can save up to eight lives. All it takes to become one is a status update.<br>DO IT!",
        :category => "Campaign",
        :link => "https://www.spoilmoviessavelives.com/en",
        :image => "feed/spoil-movies-save-lives.jpg"
      }) %>

      <%= partial("components/feed/case_study", :locals => {
        :title => "Celine Beyond",
        :text => "We've helped this Singapore-based organisation on its journey to make cities sound better.",
        :image => "case/thumbnails/celine-beyond.png",
        :background_color => "#EFEFEF",
        :text_color => "black",
        :link => "/en/work/celine-beyond"
      }) %>

      <%= partial("components/feed/case_study", :locals => {
        :title => "Lanneberg Bexelius",
        :text => "Brand and digital identity",
        :image => "feed/case-study-lb.jpg",
        :background_color => "#F5EFEC",
        :text_color => "#41162f",
        :link => "/en/work/lanneberg-bexelius"
      }) %>

      <%= partial("components/feed/blog", :locals => {
        :title => "Things Filippos has learned developing Ruby and Rails apps over the past 3+ years",
        :text => "Some of the stuff our superstar backend dev Filippos has learned after more than three years working with Rails. Number 4 will surpr... just kidding :)",
        :category => "Labs",
        :link => "https://labs.kollegorna.se/blog/2017/01/ruby-cool-things/"
      }) %>


      <%= partial("components/feed/blog", :locals => {
        :title => "Welcome Osvaldas!",
        :text => "A christmas gift in advance in form of a UX designer and Front End Developer",
        :category => "New team mate",
        :link => "/en/2016/12/osvaldas-valutis/",
        :image => "feed/osvaldas.jpg"
      }) %>

      <%= partial("components/feed/blog", :locals => {
        :title => "November's PDDs",
        :text => "Every six weeks, we all take a break from work to focus on what we call Personal Development Days. Here's what we were up to this time...",
        :category => "Labs",
        :link => "https://labs.kollegorna.se/blog/2016/11/november-pdd/"
      }) %>

      <%#= partial("components/feed/blip", :locals => {
        :category => "Nytt 2017!",
        :text => "Nya projekt på gång: Webbplats för utbildningsprojekt finansierat av SR MDO samt kampanjsajt för Kommunal."
      }) %>

      <%= partial("components/feed/case_study", :locals => {
        :title => "Genombrott",
        :text => "Turning ideas into improvements in the Swedish healthcare system",
        :image => "feed/case-study-skl.jpg",
        :background_color => "#0d121e",
        :text_color => "#e0e9ff",
        :link => "/en/work/skl-genombrott"
      }) %>

      <%= partial("components/feed/case_study", :locals => {
        :title => "Vembi",
        :text => "A fintech startup that that provides unique ownership data for Swedish unlisted companies.",
        :image => "feed/case-study-vembi.jpg",
        :background_color => "#FFFFFF",
        :text_color => "#565656",
        :link => "/en/work/vembi"
      }) %>

      <%= partial("components/feed/gallery", :locals => {
        :category => "Winter joy!",
        :text => "Hacking hardware with new friends at the office 😊",
        :images => [
          "feed/gallery.jpg"
        ]
      }) %>

      <%= partial("components/feed/blog", :locals => {
        :title => "Our design process",
        :text => "Check out our Dribbble account where you can follow the work of our designers.",
        :category => "Eye candy",
        :link => "https://dribbble.com/kollegorna",
        :image => "feed/dribbble-hey.gif"
      }) %>
    </div>
  </section>

  <!--<section class="index__testimonials">
    <div class="index__testimonials__content feed grid">
      <%= partial("components/feed/quote", :locals => {
        :text => "Portland pok pok lo-fi, brooklyn banh mi normcore cornhole vape fap helvetica. Health goth XOXO 8-bit tote bag, intelligentsia twee +1. Occupy hexagon semiotics, ennui iceland yuccie skateboard. Viral af direct trade pug.",
        :author => "Person, Company"
      }) %>

      <%= partial("components/feed/quote", :locals => {
        :text => "Cornhole shabby chic affogato, hoodie pabst put a bird on it cred small batch food truck. Gluten-free godard venmo sriracha direct trade bicycle rights. Hot chicken literally neutra YOLO flannel.",
        :author => "Person, Company"
      }) %>
    </div>
  </section>-->
</main>

<script type="application/ld+json">
  {
    "@type": "Organization",
    "name": "Kollegorna",
    "url": "https://www.kollegorna.se/en",
    "mainEntityOfPage": "<%= current_page.url %>",
    "logo": "<%= image_path('logo.svg') %>",
    "image": "<%= image_path("og-image.jpg") %>",
    "description": "<%= current_page.data.description || t(:meta)[:description] %>",
    "sameAs": [
      "https://dribbble.com/kollegorna",
      "https://www.facebook.com/kollegorna",
      "https://github.com/kollegorna/",
      "https://www.instagram.com/kollegorna",
      "https://twitter.com/kollegorna"
    ]
  }
</script>
