---
title: Projects
---

<main role="main" class="work">
  <section class="work__projects">
    <div class="work__projects__blocks">

      <%= partial("partials/project", :locals => {
        :title => "Lanneberg Bexelius",
        :text => "Branding, UI/UX Design, Web Development",
        :image => "case/thumbnails/lanneberg-bexelius.png",
        :link => "/en/work/lanneberg-bexelius"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Valu8",
        :text => "UI/UX Design, Web Development",
        :image => "case/thumbnails/valu8.png",
        :link => "/en/work/valu8"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Celine Beyond",
        :text => "Branding, UI/UX Design, Web Development",
        :image => "case/thumbnails/celine-beyond.png",
        :link => "/en/work/celine-beyond"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Releasefest",
        :text => "Branding, UI/UX Design, Web Development",
        :image => "case/thumbnails/releasefest.png",
        :link => "/en/work/releasefest"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "The Icebreaker Machine",
        :text => "Hardware, Web Development",
        :image => "case/thumbnails/icebreaker.png",
        :link => "/en/work/the-icebreaker-machine"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Vembi",
        :text => "Branding, UI/UX Design, Web Development",
        :image => "case/thumbnails/vembi.png",
        :link => "/en/work/vembi"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Dina Risker",
        :text => "UX Design, Web Development",
        :image => "case/thumbnails/dina-risker.png",
        :link => "/en/work/dina-risker"
      }) %>



      <%= partial("partials/project", :locals => {
        :title => "Medievärlden Premium",
        :text => "Branding, UI/UX Design, Web Development",
        :image => "case/thumbnails/medievarlden-premium.png",
        :link => "/en/work/medievarlden-premium"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "BG Play",
        :text => "UI/UX Design, Web Development",
        :image => "case/thumbnails/bg-play.png",
        :link => "/en/work/bg-play"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "SKL Genombrott",
        :text => "UI/UX Design, Web Development",
        :image => "case/thumbnails/skl-genombrott.png",
        :link => "/en/work/skl-genombrott"
      }) %>

    </div>
  </section>
</main>
