---
title: Uppdrag
---

<main role="main" class="work">
  <header class="work__header">
    <h1>Selected projects</h1>
    <p>You may also <a href="/<%= t(:paths)[:work_types] %>">browse projects by type</a></p>
  </header>

  <section class="work__projects">
    <div class="work__projects__blocks">
      <%= partial("components/project", :locals => {
        :title => "Lanneberg Bexelius",
        :text => "Promotional Websites, Identity",
        :image => "case/thumbnails/lanneberg-bexelius.png"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "Celine Beyond",
        :text => "Promotional Websites, Identity",
        :image => "case/thumbnails/celine-beyond.png"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "Vembi",
        :text => "Branding, Fintech",
        :image => "case/thumbnails/vembi.png"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "Releasefest",
        :text => "News & Media",
        :image => "case/thumbnails/releasefest.png"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "The Icebreaker Machine",
        :text => "Hardware, Campaigns, Social Media API:s",
        :image => "case/thumbnails/icebreaker.png"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "SKL Genombrott",
        :text => "Tools",
        :image => "case/thumbnails/skl-genombrott.png"
      }) %>

    </div>
  </section>
</main>
