---
title: Projekt
page_type: work
---

<main role="main" class="work">
  <h1 class="visuallyhidden"><%= current_page.data.title %></h1>
  <section class="work__projects">
    <div class="work__projects__blocks">
      <%= partial("partials/project", :locals => {
        :title => "Echo1",
        :text => "Varumärke, UI/UX Design, Utveckling",
        :image => "case/thumbnails/echo1.jpg",
        :link => "/sv/projekt/echo1"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Edumedia Tunisie",
        :text => "Varumärke, UI/UX-Design, Utveckling",
        :image => "case/thumbnails/edumedia.png",
        :link => "/sv/projekt/edumedia-tunisie"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Genombrott",
        :text => "UI/UX-Design, Utveckling",
        :image => "case/thumbnails/skl-genombrott.png",
        :link => "/sv/projekt/skl-genombrott"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "IIS Domains Campaign Manager",
        :text => "UI/UX-Design, Utveckling",
        :image => "case/thumbnails/iis.png",
        :link => "/en/work/iis-domains-campaign"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Valu8",
        :text => "UI/UX-Design, Utveckling",
        :image => "case/thumbnails/valu8.png",
        :link => "/sv/projekt/valu8"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Celine Beyond",
        :text => "Varumärke, UI/UX-Design, Utveckling",
        :image => "case/thumbnails/celine-beyond.png",
        :link => "/sv/projekt/celine-beyond"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Vembi",
        :text => "Varumärke, UI/UX-Design, Utveckling",
        :image => "case/thumbnails/vembi.png",
        :link => "/sv/projekt/vembi"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Lanneberg Bexelius",
        :text => "Varumärke, UI/UX-Design, Utveckling",
        :image => "case/thumbnails/lanneberg-bexelius.png",
        :link => "/sv/projekt/lanneberg-bexelius"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Medievärlden Premium",
        :text => "UI/UX-Design, Utveckling, Strategi",
        :image => "case/thumbnails/medievarlden-premium.png",
        :link => "/sv/projekt/medievarlden-premium"
      }) %>


      <%= partial("partials/project", :locals => {
        :title => "Releasefest",
        :text => "Varumärke, UI/UX-Design, Utveckling, Strategi, Koncept",
        :image => "case/thumbnails/releasefest.png",
        :link => "/sv/projekt/releasefest"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "The Icebreaker Machine",
        :text => "Hårdvara, Utveckling",
        :image => "case/thumbnails/icebreaker.png",
        :link => "/sv/projekt/the-icebreaker-machine"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "Dina Risker",
        :text => "Utveckling",
        :image => "case/thumbnails/dina-risker.png",
        :link => "/sv/projekt/dina-risker"
      }) %>

      <%= partial("partials/project", :locals => {
        :title => "BG Play",
        :text => "UI/UX-Design, Utveckling",
        :image => "case/thumbnails/bg-play.png",
        :link => "/sv/projekt/bg-play"
      }) %>

    </div>
  </section>
</main>
