---
title: Projekt
---

<main role="main" class="work">
  <section class="work__projects">
    <div class="work__projects__blocks">
      <%= partial("components/project", :locals => {
        :title => "Lanneberg Bexelius",
        :text => "Branding, UI Design, Web Development",
        :image => "case/thumbnails/lanneberg-bexelius.png",
        :link => "/projekt/lanneberg-bexelius"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "Celine Beyond",
        :text => "Branding, UI Design, Web Development",
        :image => "case/thumbnails/celine-beyond.png",
        :link => "/projekt/celine-beyond"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "Releasefest",
        :text => "Branding, UI Design, Web Development",
        :image => "case/thumbnails/releasefest.png",
        :link => "/projekt/releasefest"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "The Icebreaker Machine",
        :text => "Hardware, Web Development",
        :image => "case/thumbnails/icebreaker.png",
        :link => "/projekt/the-icebreaker-machine"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "Vembi",
        :text => "Branding, UI Design, Web Development",
        :image => "case/thumbnails/vembi.png",
        :link => "/projekt/vembi"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "Dina Risker",
        :text => "UI Design, Web Development",
        :image => "case/thumbnails/dina-risker.png",
        :link => "/projekt/dina-risker"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "Medievärlden Premium",
        :text => "Branding, UI Design, Web Development",
        :image => "case/thumbnails/medievarlden-premium.png",
        :link => "/projekt/medievarlden-premium"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "BG Play",
        :text => "UI Design, Web Development",
        :image => "case/thumbnails/bg-play.png",
        :link => "/projekt/bg-play"
      }) %>

      <%= partial("components/project", :locals => {
        :title => "SKL Genombrott",
        :text => "UI Design, Web Development",
        :image => "case/thumbnails/skl-genombrott.png",
        :link => "/projekt/skl-genombrott"
      }) %>
    </div>
  </section>
</main>
