---
title: BG Play – case study
description: "On BG Play some of Sweden's sharpest legal minds bring you news and training in various legal areas."
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>A web video platform for lawyers.</h2>

      <p class="highlight">On BG Play some of Sweden's sharpest legal minds bring you news and training in various legal areas.</p>

      <div class="additional">
        <p>The service is split into public content and content that requires a subscription. Depending on which legal areas you might be interested in you can subscribe to different packages.</p>

        <p>Anyone can register and as a new user you'll get access to a small part of the content during a trial period.</p>

        <h3>Tests for professional education</h3>

        <p><a href="https://www.advokatsamfundet.se/Advokatsamfundet-engelska/">The Swedish Bar Association</a> requires all lawyers to do at least 18 hours of structured education per year to to be able to retain their license. To utilize the time spent on the videos we provide a test for some of the videos that the user has to pass.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.blendow.se">Blendow Group</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
          <li>ElasticSearch</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Mailchimp</li>
          <li>Mandrill</li>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.bgplay.se/" target="_blank" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__feed">
    <div id="gridloader">
      <div class="blob blob-0"></div>
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
      <div class="blob blob-4"></div>
      <div class="blob blob-5"></div>
    </div>
    <div class="feed grid">

      <%= partial("components/feed/image", :locals => {
        :image => "case/bgplay/desktop-1-video.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/bgplay/chapters.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/bgplay/keep-watching.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/bgplay/desktop-2-person.png"
      }) %>

    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
