---
title: Celine Beyond – case study
description: "Description"
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Celine Beyond vill få städer att låta bättre.</h2>

      <p class="highlight">Med flera års erfarenhet av att förbättra ljudkvalitén i en av de tätast befolkade städerna i världen, vet Singapore-baserade akustikkonsulterna Soundzipper hur omedvetna stadsbor är av den dåliga ljudmiljö som omger dem. Efter att ha börjat ta fram idéer för att ändra på detta, kom de till oss.</p>

      <div class="additional">
        <p>Celine Beyond en ideell rörelse startad av Soundzipper med ett mål lyfta fram tillgången till en god urban ljudmiljö som en grundläggande mänsklig rättighet. Genom att arbeta tillsammans med ljudentusiaster världen över främjar de bra exempel på ljuddesign inom offentliga och privata verksamheter, och belyser därmed ett ämne som ofta glöms men som har stor påverkar på livskvalitén hos de flesta urbana befolkningarna.</p>

        <p>Vi var med dom från början av idén till dess lansering, bidrog till att skapa uppmärksamhet kring släppet samt designade, utvecklade och tog fram identitet och webbplats. Logotypen, en rå mix av ett hjärta och ett öra, designades för att kunna fungera som en symbol som enkelt och kostnadseffektivt kan sättas på vad som helst för att markera det som deras. Tillsammans med livfull neongrön färg och ett namn med glimten i ögat är det ett varumärke som känns samtida men svårt att glömma bort.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.soundzipper.com">Soundzipper</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Middleman</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Amazon S3</li>
          <li>Codeship</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="http://www.celinebeyond.com/" target="_blank" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--celine-beyond">
    <div class="intro">
      <%= image_tag 'case/celine-beyond/cb-mac.png' %>
    </div>
    <div class="brand">
      <%= image_tag 'case/celine-beyond/cb-brand.jpg' %>
    </div>
    <div class="responsive">
      <%= image_tag 'case/celine-beyond/cb-responsive.jpg' %>
    </div>
    <div class="site">
      <%= image_tag 'case/celine-beyond/cb-site.jpg' %>
    </div>
    <div class="graffiti">
      <%= image_tag 'case/celine-beyond/graffiti.png' %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
