---
title: Echo1
description: "Echo1 är en Singapore-baserad inkubator som arbetar med företag som förbättrar ljudmiljöer. Vi tog fram deras varumärke och webbplats samt har rollen som deras huvudsakliga partner inom design och utveckling."
page_type: work-item
share_image: case/echo1/og.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h1>Echo1</h1>
      <h2>För en bättre ljudmiljö i städer, samhällen och företag.</h2>

      <p class="highlight">Echo1 är en Singapore-baserad inkubator som arbetar med företag som förbättrar ljudmiljöer. Vi tog fram deras varumärke och webbplats samt har rollen som deras huvudsakliga partner inom design och utveckling.</p>

      <div class="additional">
        <p>
          Echo1s vision om hur deras företag ska fungera bygger på att transparens, mångfald och decentralisering ska genomsyra verksamheten samt fullständig avsaknad hierarkier. De ville bygga ett nätverk där den makt som traditionellt sett legat på chefsnivå skulle distribueras till samtliga medarbetare. Vårt uppdrag innefattade att ta fram en identitet och webbplats som presenterade deras verksamhet, samtidigt som den lyfte fram dess ideologi.
        </p>

        <p>
          Idén om att bygga organisationer med avsaknad av hierarki var spännande, men vi kände även att målgruppen skulle kunna avfärda det som utopiskt och opraktiskt. Vi valde därför att ta fram en identitet och webbplats som kändes både skoj och trevlig samt balanserad och seriös.
        </p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.echo1.co">Echo1</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Slack API</li>
          <li>Google Analytics</li>
          <li>Codeship</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.echo1.co" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--echo1">
    <div class="intro">

      <svg width="837px" height="703px" viewBox="0 0 837 703" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" opacity="0.2" stroke-linejoin="round">
          <path d="M2,2 C3,419 293.367188,550.796875 478.140625,570.273438 C662.914062,589.75 829.179687,515.5625 834.625,380.503906 C840.070313,245.445312 653.942583,198.27806 491.339844,330.84375 C365.835149,433.16439 307.077204,543.154497 282.92578,701.02325" id="Page-1" stroke="#353535" stroke-width="4"></path>
        </g>
      </svg>

      <div class="orb orb--black-large"></div>

      <%= image_tag('case/echo1/logo.svg') %>

      <div class="orb orb--black"></div>
      <div class="orb orb--yellow"></div>
      <div class="orb orb--orange"></div>
      <div class="orb orb--red"></div>
    </div>

    <div class="laptop">
      <div>
        <%= image_tag('case/echo1/02.jpg', :class => "laptop__site") %>
        <%= image_tag('case/echo1/01.png', :class => "laptop__device") %>
      </div>
    </div>

    <div class="screenshots">
      <%= image_tag('case/echo1/05.png') %>
    </div>

    <div class="brand">
      <%= image_tag('case/echo1/06.png') %>
      <%= image_tag('case/echo1/03.png') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
