---
title: التربية الاعلامية في تونس
description: "نشر الوعي الاعلامي ومهارات التفكير الناقد"
page_type: work-item
share_image: case/edumedia-tunisie/et-mac.jpg
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h1>التربية الاعلامية في تونس</h1>
      <h2>نشر الوعي الاعلامي ومهارات التفكير الناقد</h2>

      <p>بالتعاون مع الراديو السويدي و المركز الافريقي لتدريب الصحافيينCAPJC تم انتاج هذه الاداة الرقمية التي تحتوي على فيديوهات وافكار ومصادر تربوية للراغبين في استخدامها من شباب ومعلمين لتطوير الاعلام ومهارات التفكير الناقد في تونس</p>

      <p class="highlight"><i>هذا المشروع غير ربحي "مجاني" <a href="/en/csr"> اقرأ المظيد حول العمل غير الربحي</a></i></p>

      <div class="additional">
        <p>لا يهم في اي مكان تعيش في هذا العالم, انتم تعاصرون عصر التغير السريع في المشهد الاعلامي. هذا يتطلب من النظام التعليمي ان يزود الناس بمهارات جديدة للبحث والفهم لهذا التدفق المستمر من المعلومات. هنا تأتي التربية الاعلامية في تونس لتزود المعلمين والطلاب بمصادر تربوية للمساعدة على التدريب على التعامل مع الاعلام, مثل التحقق من مصادر المعلومات, التمييز بين المعلومات الصحفية والحقيقية عن البروباغاندا الاعلامية, بالاضافة الى التزويد بالملاحظات والافكار للحفاظ وحماية الخصوصية على الانترنت</p>

        <p>استنادا على المفهوم المبني على ان التكنولوجيا اصبحت جزءا لا يتجزء من نسيجنا الاجتماعي في العصر الراهن, تم وسم المشروع بوسم تكنولوجي معاصر بشكل نسيج مشكل من مختلف جوانب الحياة العصرية. يرمز يشير الى قوة التكنولوجيا العصرية في التقريب بين المجتمعات ذات الخلفيات البعيدة والمتعددة بشكل اقرب بين بعضهم البعض. الالوان مستوحاة من الثقافة المعمارية التونسية التقليدية, وهي استخدام اللون الازرق الساطع وهو السمة المميزة للعمارة في تونس</p>

        <p>قمنا ايضا بتصميم وتطوير الصفحة الالكترونية للموقع لجعلها متاحة في اللغة العربية والفرنسية والانكليزية. بالاضافة الى الترويج للمشروع, يحتوي الموقع على مجموعة واسعة من المراجع التربوية للاساتذة و الطلاب والصحفيين, مثل الاسئلة التفاعلية للزوار لتقدير مستوى معلوماتهم عن المواضيع المطروحة في الموقع</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.srmdo.se/">SR MDO</a></li>
          <li><a href="http://www.capjc.tn/">CAPJC</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:release_date] %></h3>
        <ul>
          <li>May 2017</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:languages] %></h3>
        <ul>
          <li>WordPress</li>
          <li>Trellis</li>
          <li>Bedrock</li>
          <li>Sage</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tools] %></h3>
        <ul>
          <li>Google Analytics</li>
          <li>Rollbar</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:platforms] %></h3>
        <ul>
          <li>Cloudflare</li>
          <li>Digital Ocean</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.edumedia.tn/" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--edumedia-tunisie">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/EETbmxySOTU?vq=hd720" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="intro">
      <%= image_tag 'case/edumedia-tunisie/et-mac.jpg' %>
    </div>
    <div class="responsive">
      <%= image_tag 'case/edumedia-tunisie/et-phones.png' %>
    </div>
    <div class="brand">
      <%= image_tag 'case/edumedia-tunisie/et-brand.jpg' %>
    </div>
    <div class="digital">
      <%= image_tag 'case/edumedia-tunisie/et-digital.jpg' %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->