---
title: Edumedia Tunisie – case study
description: "Främjande av mediekunnighet och kritiskt tänkande"
page_type: work-item
share_image: case/edumedia-tunisie/et-mac.jpg
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h1>Edumedia Tunisie</h1>
      <h2>Främjande av mediekunnighet och kritiskt tänkande.</h2>

      <p>Tillsammans med <a href="http://www.srmdo.se/" target="_blank" rel="noopener">SR MDO</a> och <a href="http://www.capjc.tn/" target="_blank" rel="noopener">CAPJC</a> har vi tagit fram en verktygslåda som innehåller videor, idéer och pedagogiska resurser för unga och lärare i Tunisien som vill förbättra sina kunskaper kring medier.</p>

      <p class="highlight"><i>Detta är ett pro bono-projekt. <a href="/en/csr">Läs mer om hur vi jobbar pro bono</a>.</i></p>

      <div class="additional">
        <p>
        Oavsett var i världen du befinner dig så möts du ständigt av ett medielandskap i förändring. Detta ställer krav på våra utbildningssystem att utbilda människor för att kunna navigera och förstå detta konstanta flöde av information. Här kommer Edumedia Tunisia in genom att tillhandahålla lärare och studenter med olika resurser som främjar ett bättre förhållningssätt till medier, så som källkritik, särskiljande av journalistik eller faktabaserat innehåll från propaganda samt tips och idéer om hur man håller sig säker och skyddar sitt privatliv online.
        </p>

        <p>
        Baserat på idén att teknik är djupt inbäddat i de sociala strukturerna i den värld vi lever i idag, har vi tagit fram en identitet som väver ihop de olika delarna av den numera allmänt förekommande hashtag-symbolen. Logotypen, en metafor för teknikens kraft för att föra samman människor, använder ett färgschema baserat på en av de mest igenkänningsbara delarna i Tunisisk arkitektur: användandet av ljusblåa färginslag.
        </p>

        <p>Vi har också designat och utvecklat projektets webbplats, som finns tillgänglig på arabiska, franska och svenska. Utöver att marknadsföra projektet så tillhandahåller den innehåll för lärare, elever och journalister. T.ex. olika typer av video samt ett interaktivt quiz.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.srmdo.se/">SR MDO</a></li>
          <li><a href="http://www.capjc.tn/">CAPJC</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:release_date] %></h3>
        <ul>
          <li>Maj 2017</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:languages] %></h3>
        <ul>
          <li>WordPress</li>
          <li>Trellis</li>
          <li>Bedrock</li>
          <li>Sage</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tools] %></h3>
        <ul>
          <li>Google Analytics</li>
          <li>Rollbar</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:platforms] %></h3>
        <ul>
          <li>Cloudflare</li>
          <li>Digital Ocean</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.edumedia.tn/" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--edumedia-tunisie">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/EETbmxySOTU?vq=hd720" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="intro">
      <%= image_tag 'case/edumedia-tunisie/et-mac.jpg' %>
    </div>
    <div class="responsive">
      <%= image_tag 'case/edumedia-tunisie/et-phones.png' %>
    </div>
    <div class="brand">
      <%= image_tag 'case/edumedia-tunisie/et-brand.jpg' %>
    </div>
    <div class="digital">
      <%= image_tag 'case/edumedia-tunisie/et-digital.jpg' %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
