---
title: Edumedia Tunisie – case study
description: "Promoting media awareness and critical thinking skills"
page_type: work-item
share_image: case/celine-beyond/cb-mac.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Promoting media awareness and critical thinking skills.</h2>

      <p class="highlight">We teamed up with the <a href="http://www.srmdo.se/" target="_blank">Swedish Radio</a> and <a href="http://www.capjc.tn/" target="_blank">CAPJC</a> to build a toolkit containing videos, ideas and pedagogical resources for youngsters and teachers who want to develop media and information literacy skills in Tunisia.</p>

      <p class="highlight"><i>This is a pro bono project. Read more about pro bono work.</i></p>

      <div class="additional">
        <p>No matter where you live in the world, you're faced with a rapidly fast changing media landscape. This requires the educational system to provide people with new skills to help navigate and understand this constant flow of information. That's where Edumedia Tunisie comes in, providing teachers and students with educational resources that promote better practices in dealing with the media, such as checking sources of information, distinguishing journalism or factual information from propaganda, or offering tips and ideas on how to be safe and protect your privacy online.</p>
        <p>Based on the idea that technology is deeply embedded in the social fabric of the modern world, we’ve branded the project with an identity that weaves together the various different parts of the now ubiquitous hashtag symbol. The logo, a metaphor for the power of technology to bring communities with different values and belief systems closer together, uses a colour scheme based on one of the most easily recognisable features of traditional Tunisian architecture: its common use of bright blue highlights.</p>
        <p>We’ve also designed and developed the project's website, making it available in Arabic, French and English. Besides promoting the project, the website offers a vast set of educational resources for teachers, students and journalists alike, including an interactive quiz for visitors to test their knowledge on the subjects covered.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.srmdo.se/">SR MDO</a></li>
          <li><a href="http://www.capjc.tn/">CAPJC</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>WordPress</li>
          <li>Trellis</li>
          <li>Bedrock</li>
          <li>Sage</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Google Analytics</li>
          <li>Rollbar</li>
          <li>Cloudflare</li>
          <li>Digital Ocean</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand">More detail</a>
      <a href="http://www.edumedia.tn/" target="_blank" rel="noopener" class="link">Visit</a>
    </div>
  </section>

  <section class="case__study case--celine-beyond">
    <div class="intro">
      <%= image_tag 'case/celine-beyond/cb-mac.png' %>
    </div>
    <div class="brand">
      <%= image_tag 'case/celine-beyond/cb-brand.jpg' %>
    </div>
    <div class="responsive">
      <%= image_tag 'case/celine-beyond/cb-responsive.jpg' %>
    </div>
    <div class="graffiti">
      <%= image_tag 'case/celine-beyond/graffiti.png' %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
