---
title: Hemlig Tomte – case study
description: "En tjänst som gör julklappsutbytet roligare och mer spännande."
page_type: work-item
share_image: case/hemligtomte/share-image.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h1>Hemlig Tomte</h1>
      <h2>Alla får vara tomte i jul</h2>

      <p>En tjänst som gör julklappsutbytet roligare och mer spännande.</p>

      <div class="additional">
        <p>Tack vare <a href="https://hemligtomte.se" target="_blank" rel="noopener">Hemlig Tomte</a> kan du enkelt och smidigt skapa en grupp för släkt, vänner, kollegor, grannar eller vem du nu vill byta julklappar med.</p>

        <h3>Så här fungerar det</h3>
        <p>"Secret Santa" är en form av julklappsutbyte där det är hemligt vem som ger till vem.</p>

        <ol>
          <li>En av er skapar en secret santa-grupp, väljer ett sista anmälningsdatum och skickar ut en inbjudningslänk.</li>
          <li>De som bjuds in bestämmer själva om de vill vara med genom att anmäla sig.</li>
          <li>När sista anmälningsdatumet passerat slumpar våra tomtenissar fram en hemlig tomte för var och en av er. Alla deltagare får därefter ett mail som berättar vem man ska köpa en julklapp till.</li>
          <li>ÄNTLIGEN JULMYS! Ni träffas, byter julklappar och bestämmer om ni ska avslöja vem som gett till vem.</li>
        </ol>

        <p><a href="https://hemligtomte.se" target="_blank" rel="noopener">Testa Hemlig Tomte här!</a></p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.upplevelse.com/">Upplevelse.com</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:release_date] %></h3>
        <ul>
          <li>December 2017</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:languages] %></h3>
        <ul>
          <li>Ruby on Rails</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tools] %></h3>
        <ul>
          <li>Google Analytics</li>
          <li>Facebook Login</li>
          <li>Mailgun</li>
          <li>Ahoy</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:platforms] %></h3>
        <ul>
          <li>Heroku</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://hemligtomte.se" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>


</article>
<!-- / .case -->
