---
title: IIS Domains Campaign Manager
description: "Internetstiftelsen i Sverige är en oberoende allmännyttig organisation som verkar för en positiv utveckling av internet i Sverige. De kontaktade oss för att de ville ha ett enklare sätt att skapa och hantera dessa kampanjer."
page_type: work-item
share_image: case/iis/og.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>IIS Domains Campaign Manager</h2>

      <p class="highlight">Internetstiftelsen i Sverige är en oberoende allmännyttig organisation som verkar för en positiv utveckling av internet i Sverige. De ansvarar, bland annat, för Sveriges toppdomän på Internet: .se. I samband med mässor och andra event driver de ibland speciella kampanjer i samarbete med domänregistrarer där de erbjuder gratis domännamn. De kontaktade oss för att de ville ha ett enklare sätt att skapa och hantera dessa kampanjer.</p>

      <div class="additional">
        <p>Vi utformade och utvecklade en kontrollpanel som låter IIS skapa och hantera kampanjer och snabbt se hur de går över tid. Kampanjer kan skapas för en given tidsperiod eller tills ett tak har nåtts, och samt begränsas till en eller flera källor. Sammantaget ger det stor kontroll över kampanjens erbjudande. Rapporter genereras också automatiskt vilket ger IIS underlag för att utvärdera hur varje kampanj går och göra förändringar vid behov.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.iis.se">Internetstiftelsen i Sverige</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>Redis</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Honeybadger</li>
          <li>Google Analytics</li>
          <li>Codeship</li>
          <li>HyPDF</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
    </div>
  </section>

  <section class="case__study case--iis">
    <div class="intro">
      <%= image_tag('case/iis/01.jpg') %>
    </div>

    <div class="devices">
      <%= image_tag('case/iis/02.jpg') %>
      <%= image_tag('case/iis/03.jpg') %>
      <%= image_tag('case/iis/04.jpg') %>
    </div>

    <div class="screenshots">
      <%= image_tag('case/iis/05.jpg') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
