---
title: IIS Domains Campaign
description: "Lanneberg Bexelius is a consulting and education company run by Pia Lanneberg and Kristina Bexelius. De hjälper individer och företag att bygga starka konkurrenskraftiga varumärken med hjälp av insatser inom ledarskap, kommunikation och personal branding. They help individuals and companies build straing brands by helping them improve their leadership, communikcation and personal branding."
page_type: work-item
share_image: case/echo1/og.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Title</h2>

      <p class="highlight">...</p>

      <div class="additional">
        <p>...</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.iis.se">Internetstiftelsen i Sverige</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Slack API</li>
          <li>Google Analytics</li>
          <li>Codeship</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
    </div>
  </section>

  <section class="case__study case--iis">
    <div class="intro">
      <%= image_tag('case/iis/01.jpg') %>
    </div>

    <div class="devices">
      <%= image_tag('case/iis/02.jpg') %>
      <%= image_tag('case/iis/03.jpg') %>
      <%= image_tag('case/iis/04.jpg') %>
    </div>

    <div class="screenshots">
      <%= image_tag('case/iis/05.jpg') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
