---
title: IIS Domains Campaign Manager
description: "The Internet Foundation in Sweden (IIS) is the independent public-service organization responsible for Sweden’s top-level internet domain. We designed and develop a dashboard that allows them to create and manage domain sign-up campaigns."
page_type: work-item
share_image: case/iis/og.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>IIS Domains Campaign Manager</h2>

      <p class="highlight">The Internet Foundation in Sweden (IIS) is an independent public-service organization responsible, among other things, for Sweden’s top-level internet domain: .se. As part of their mission, they occasionally run special campaigns allowing users to sign up for a limited number of domain names, usually as part of larger campaigns to foster innovation, and they approached us because they were looking to make the process of creating and managing those campaigns more straightforward.</p>

      <div class="additional">
        <p>We designed and develop a dashboard that allows IIS employees to create and manage campaigns, and quickly see how they are performing over time. Campaigns can be set to run for a specific time-frame, or until a limit number of sign-ups has been reached, and sign-ups can be restricted to as many or as little sources as possible, allowing for a granular control over the target audience. Reports are generated for each campaign, allowing the IIS staff to assess how well each campaign is doing, and quickly act upon that information.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.iis.se">Internetstiftelsen i Sverige</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>Redis</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Honeybadger</li>
          <li>Google Analytics</li>
          <li>Codeship</li>
          <li>HyPDF</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
    </div>
  </section>

  <section class="case__study case--iis">
    <div class="intro">
      <%= image_tag('case/iis/01.jpg') %>
    </div>

    <div class="devices">
      <%= image_tag('case/iis/02.jpg') %>
      <%= image_tag('case/iis/03.jpg') %>
      <%= image_tag('case/iis/04.jpg') %>
    </div>

    <div class="screenshots">
      <%= image_tag('case/iis/05.jpg') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
