---
title: JustHostMe
description: "Rebranding and website design for JustHostMe, a Web hosting company based in the UK. By Kollegorna."
page_type: work-item
share_image: case/justhostme/og.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h1>JustHostMe</h1>
      <h2>Great British Web Hosting.</h2>

      <p class="highlight">JustHostMe is a British Web hosting company founded over a decade ago. They provide traditional hosting solutions for individuals and businesses worldwide, and were trying to consolidate their position as one of the few hosting companies entirely based and staffed in the UK. They came to us with a request to freshen up their brand and redesign their website.</p>

      <div class="additional">
        <p>After a few meetings, it became apparent the client was looking to cater to a mostly British audience, marketing themselves as a trustworthy national enterprise that, besides offering UK-based hosting services, would also provide customer support through a team of British-based staff members always ready to help out. So we set out to design a brand that hinted at British culture and pride, without making it feel exclusive or uninviting to customers worldwide.</p>

        <p>We chose to start from a list of Great Britain's clichés, identify their core features and gradually remove any visual references to them, until we were left with a set of colours and a geometric sans-serif typeface that pays tribute to historically remarkable British typography. We turned their logo into a vessel: a small glowing container you can fill up with your own things, and that's yours to keep or share with the rest of the world. And we made their website friendlier and easier to navigate.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.echo1.co">JustHostMe</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Middleman</li>
          <li>PHP</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>WHMCS</li>
          <li>Codeship</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.justhostme.co.uk" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--justhostme">
    <div class="logo">
      <%= image_tag('case/justhostme/logo@2x.png') %>
    </div>

    <div class="objects">
      <div class="item item--flag">
        <%= image_tag('case/justhostme/flag@2x.png') %>
      </div>
      <div class="item item--hp">
        <%= image_tag('case/justhostme/hp@2x.png') %>
      </div>
      <div class="item item--phone">
        <%= image_tag('case/justhostme/phone@2x.png') %>
      </div>
      <div class="item item--mini">
        <%= image_tag('case/justhostme/mini@2x.png') %>
      </div>
    </div>

    <div class="homepage">
      <div class="homepage__image">
        <%= image_tag('case/justhostme/homepage@2x.png') %>
      </div>
    </div>

    <div class="grid">
      <%= image_tag('case/justhostme/grid@2x.png') %>
    </div>

    <div class="comparison">
      <%= image_tag('case/justhostme/comparison@2x.png') %>
    </div>

    <div class="love">
      <%= image_tag('case/justhostme/love@2x.png') %>
    </div>

    <div class="branded">
      <div class="item item--mini">
        <%= image_tag('case/justhostme/jhm_mini@2x.png') %>
      </div>
      <div class="item item--cards">
        <%= image_tag('case/justhostme/jhm_cards@2x.png') %>
      </div>
      <div class="item item--matches">
        <%= image_tag('case/justhostme/jhm_matches@2x.png') %>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
