---
title: JustHostMe
description: "Echo1 is a Singapore-based company working towards improving sound culture across the globe. They manage and fund businesses working in sound-related areas, while at the same time promoting good business practices within the companies they are involved in. We designed their brand, built their website, and have been working as their main design and technology partner."
page_type: work-item
share_image: case/echo1/og.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h1>JustHostMe</h1>
      <h2>Great British Web Hosting.</h2>

      <p class="highlight">Echo1 is a Singapore-based company working towards improving sound culture across the globe. They manage and fund businesses working in sound-related areas, while at the same time promoting good business practices within the companies they are involved in. We designed their brand, built their website, and have been working as their main design and technology partner.</p>

      <div class="additional">
        <p>Echo1 came to us with a bold vision of what the company of the future should look and behave like. They wanted all of their businesses to be as transparent, diverse and holacratic as possible, and were looking to completely abolish hierarchies. Their vision was of a network where the power traditionally reserved for executives and managers would be equally spread across all employees. So our task was to design and build a website that showcased their work and experience, while at the same time presenting the ideology behind all of it.</p>

        <p>The idea of building organisations void of hierarchy sounded very exciting, but we also felt as though it could easily come to be dismissed as impractical and utopic by their target audience. So we set out to build a brand and website that felt fun and approachable, but still looked poised, serious and mature. We figured this would help get the message across, and circumvent any possible skepticism or animosity people could have towards a business that is looking to blow up the traditional image of what a company is.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.echo1.co">JustHostMe</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Middleman</li>
          <li>PHP</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>WHMCS</li>
          <li>Codeship</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.justhostme.co.uk" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--justhostme">
    <div class="logo">
      <%= image_tag('case/justhostme/logo@2x.png') %>
    </div>

    <div class="objects">
      <div class="item item--flag">
        <%= image_tag('case/justhostme/flag@2x.png') %>
      </div>
      <div class="item item--hp">
        <%= image_tag('case/justhostme/hp@2x.png') %>
      </div>
      <div class="item item--phone">
        <%= image_tag('case/justhostme/phone@2x.png') %>
      </div>
      <div class="item item--mini">
        <%= image_tag('case/justhostme/mini@2x.png') %>
      </div>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
