---
title: Lanneberg Bexelius – case study
description: "Lanneberg Bexelius is a consulting and education company run by Pia Lanneberg and Kristina Bexelius. De hjälper individer och företag att bygga starka konkurrenskraftiga varumärken med hjälp av insatser inom ledarskap, kommunikation och personal branding. They help individuals and companies build straing brands by helping them improve their leadership, communikcation and personal branding."
page_type: work-item
share_image: case/lanneberg-bexelius/brand_goods.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Company branding a personal branding company.</h2>

      <p class="highlight">Lanneberg Bexelius is a consulting and education company run by Pia Lanneberg and Kristina Bexelius. They help individuals and companies build straing brands by helping them improve their leadership, communikcation and personal branding.</p>

      <div class="additional">
        <p>By working in close relationship with them, we've designed a visual identity for their company that is based on a contemporary-looking monogram, coupled with vibrant colours and illustrations that are serious but approachable.</p>

        <p>We've also designed and developed a responsive promotional website, structuring it in a way that places their service offering front and center, and emphasises the many ways in which careful introspection and a little guidance can help bring out the best in anyone. By maintaining a close relationship with Pia and Kristina throughout the entire project, we were able to understand their exact needs and ambitions, and provide them with the platform they needed to kickstart their newly-founded brand's recognition.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.lannebergbexelius.se">Lanneberg Bexelius</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Middleman</li>
          <li>WordPress</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Amazon S3</li>
          <li>Codeship</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.lannebergbexelius.se/" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--lanneberg-bexelius">
    <div class="intro">
    </div>

    <div class="brand">
      <%= image_tag('case/lanneberg-bexelius/brand_goods.png') %>
    </div>

    <div class="screens">
      <%= image_tag('case/lanneberg-bexelius/laptop.png', :id => "laptop") %>
      <%= image_tag('case/lanneberg-bexelius/tablet.png', :id => "tablet") %>
      <%= image_tag('case/lanneberg-bexelius/phones.png', :id => "phones") %>
      <%= image_tag('case/lanneberg-bexelius/desktop.png', :id => "desktop") %>
    </div>

    <div class="details">
      <%= image_tag('case/lanneberg-bexelius/detail1.png') %>
      <%= image_tag('case/lanneberg-bexelius/detail2.png') %>
      <%= image_tag('case/lanneberg-bexelius/detail3.png') %>
      <%= image_tag('case/lanneberg-bexelius/detail4.png') %>
      <%= image_tag('case/lanneberg-bexelius/detail5.png') %>
      <%= image_tag('case/lanneberg-bexelius/detail6.png') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
