---
title: Medievärlden
description: "Medievärlden is one of Sweden’s biggest press-related publications, covering everything related to media affairs, policy, law and ethics. We’ve helped them design and set up the publication’s main website."
page_type: work-item
share_image: case/medievarlden/og.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>A newspaper for newsmakers</h2>

      <p class="highlight">Medievärlden is one of Sweden’s biggest press-related publications, covering everything related to media affairs, policy, law and ethics. Its roots can be traced as far back as 1920, to a publication called Pressens Tidning (The Press Newspaper), but its preferred medium these days is the Web. We’ve helped them design and set up the publication’s main website.</p>

      <div class="additional">
        <p>We invested a substantial amount of effort in ensuring the website packs as much information as possible, while still retaining readability. We built upon the publication’s original brand guidelines, ensuring the transition was mindful of its heritage, and that it was as smooth as possible for readers and journalists alike. But we also set out to freshen the layout by introducing a softer colour scheme, updating the set of typefaces in use and bringing in a central navigation system that stands out on any screen.</p>

        <p>By making use of WordPress, we’ve also ensured there was no learning curve whatsoever for the editors, who were already familiar with the platform. Which in turn allowed us to employ the robust Trellis framework to ensure developing and deploying updates is quick and straightforward.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.medievarlden.se/">Medievärlden</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:languages] %></h3>
        <ul>
          <li>WordPress</li>
          <li>Trellis</li>
          <li>Bedrock</li>
          <li>Sage</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tools] %></h3>
        <ul>
          <li>Google Analytics</li>
          <li>Rollbar</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:platforms] %></h3>
        <ul>
          <li>Cloudflare</li>
          <li>Digital Ocean</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.medievarlden.se/" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--medievarlden">
    <div class="intro">
    </div>

    <div class="ipad">
      <%= image_tag('case/medievarlden/02.png') %>
    </div>

    <div class="photos">
      <%= image_tag('case/medievarlden/03.jpg') %>
    </div>

    <div class="iphone">
      <%= image_tag('case/medievarlden/05.jpg') %>
    </div>

    <div class="photos">
      <%= image_tag('case/medievarlden/04.jpg') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
