---
title: Medievärlden
description: "..."
page_type: work-item
share_image: case/medievarlden/og.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Title</h2>

      <p class="highlight">...</p>

      <div class="additional">
        <p>...</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://www.medievarlden.se/">Medievärlden</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Slack API</li>
          <li>Google Analytics</li>
          <li>Codeship</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.medievarlden.se/" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--medievarlden">
    <div class="intro">
    </div>

    <div class="ipad">
      <%= image_tag('case/medievarlden/02.png') %>
    </div>

    <div class="photos">
      <%= image_tag('case/medievarlden/03.jpg') %>
    </div>

    <div class="iphone">
      <%= image_tag('case/medievarlden/05.jpg') %>
    </div>

    <div class="photos">
      <%= image_tag('case/medievarlden/04.jpg') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
