---
title: Releasefest – case study
description: "The Swedish digital community constantly produces products and projects of high quality. These projects and their creators should of course be celebrated. That's why we built Releasefest (Swedish for "Release party") – a place for all those interested in design, technology and making things."
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Hooray for Swedish digital projects and products!</h2>

      <p class="highlight">The Swedish digital community constantly produces products and projects of high quality. These projects and their creators should of course be celebrated. That's why we built Releasefest (Swedish for "Release party") – a place for all those interested in design, technology and making things.</p>

      <div class="additional">
        <p>Anyone can register an account and submit their own or others releases. Companies can also create a profile page that contains all their releases.</p>

        <p>We've created the full service – koncept, strategy, design and techonology – and are constantly working with improvements.</p>

        <p>Read more (Swedish):</p>

        <p>
          <a href="https://www.releasefest.se/blogg/har-firar-vi-svenska-digitala-projekt-och-produkter">Här firar vi svenska digitala projekt och produkter</a><br>
          <small>Releasefest.se</small>
        </p>

        <p>
          <a href="http://www.beaconomist.net/2015/11/25/1hxdhF-releasefest-ska-ge-mkse-och-nansen-en-match">Releasefest ska ge MKSE och Nansen en match</a><br>
          <small>Beaconomist</small>
        </p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.medien.se">Medien</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>ElasticSearch</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.releasefest.se" target="_blank" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__feed">
    <div id="gridloader">
      <div class="blob blob-0"></div>
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
      <div class="blob blob-4"></div>
      <div class="blob blob-5"></div>
    </div>
    <div class="feed grid">

      <%= partial("components/feed/image", :locals => {
        :image => "case/releasefest/releasefest-front.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/releasefest/releasefest-release.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/releasefest/releasefest-profile.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/releasefest/releasefest-company.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/releasefest/releasefest-phone.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/releasefest/releasefest-tablet.png"
      }) %>

      <%= partial("components/feed/tweet", :locals => {
        :link => "https://twitter.com/releasefest/status/667647673818853376"
      }) %>

      <%= partial("components/feed/tweet", :locals => {
        :link => "https://twitter.com/andreaskrohn/status/668704808275193856"
      }) %>

      <%= partial("components/feed/tweet", :locals => {
        :link => "https://twitter.com/apikatalogen/status/677893607945277440"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/releasefest/releasefest-tshirt.jpg"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/releasefest/releasefest-illustration1.png"
      }) %>

      <%= partial("components/feed/tweet", :locals => {
        :link => "https://twitter.com/stratkomm/status/667757163830382593"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/releasefest/releasefest-logo.png"
      }) %>

    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
