---
title: Genombrott – case study
description: "Genombrott is a comprehensive tool for healthcare professionals from the Swedish Association of Local Authorities and Regions (SKL), currently being evaluated within psychiatric care."
page_type: work-item
share_image: case/genombrott/workplace.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Turning ideas into improvements in the Swedish healthcare system.</h2>

      <p class="highlight">Genombrott is a comprehensive tool for healthcare professionals from the Swedish Association of Local Authorities and Regions (SKL), currently being evaluated within psychiatric care.</p>

      <div class="additional">
        <p>SKL wanted to create a digital tool that supports work of change within the Swedish healthcare. The method is based on the Breakthrough Series from The Institute for Healthcare Improvement. The tool helps the workplaces to collect ideas, complete projects (called PDSA's, short for Plan, Do, Study, Act) based on these, study the outcome and then make a decision whether that idea should be incorporated in the operations permanently.</p>

        <p>Genombrott was released in a first version in November 2014 and was by then primarily used by the psychiatric care. Since then other healthcare areas has begun using the tool and we've improved it based on the feedback obtained from those tests.</p>

        <p>Read more:</p>

        <p>
          <a href="http://www.ihi.org/resources/pages/ihiwhitepapers/thebreakthroughseriesihiscollaborativemodelforachievingbreakthroughimprovement.aspx">The Breakthrough Series: IHI’s Collaborative Model for Achieving Breakthrough Improvement</a><br>
          <small>Institute for Healthcare Improvement</small>
        </p>

        <p>
          <a href="https://skl.se/halsasjukvard/psykiskhalsa/digitaltstodforbattringsarbete.3308.html">Digitalt stöd i vårdens förbättringsarbete</a><br>
          <small>SKL (Swedish)</small>
        </p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="https://skl.se/tjanster/englishpages.411.html">Sveriges Kommuner och Landsting</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>Ember.js</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Mandrill</li>
          <li>Docraptor</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Circle CI</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.genombrott.nu/" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--genombrott">
    <div class="photos">
      <%= image_tag('case/genombrott/01.jpg') %>
      <%= image_tag('case/genombrott/02.jpg', :class => "half") %>
      <%= image_tag('case/genombrott/03.jpg', :class => "half") %>
      <%= image_tag('case/genombrott/04.jpg') %>
      <%= image_tag('case/genombrott/06.jpg') %>
    </div>
    <div class="video">
      <%= partial("partials/feed/vimeo", :locals => {
        :video => "https://player.vimeo.com/video/119757512?title=0&byline=0&portrait=0"
      }) %>
    </div>
    <div class="artboards">

      <%= image_tag('case/genombrott/05.jpg') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
