---
title: Spoil Movies, Save Lives
description: "MOD is a Swedish initiative with a simple goal: to get people to talk about the importance of organ donation, so that no one dies in need of an organ. Spoil Movies, Save Lives is a concept our good friends at Edelman Deportivo came up with to help them raise awareness on the subject, by asking the question: would you rather save a movie or a life?"
page_type: work-item
share_image: case/spoil-movies/og.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Spoil Movies, Save Lives Case Study</h2>

      <p class="highlight">MOD is a Swedish initiative with a simple goal: to get people to talk about the importance of organ donation, so that no one dies in need of an organ. Spoil Movies, Save Lives is a concept our good friends at Edelman Deportivo came up with to help them raise awareness on the subject, by asking the question: would you rather save a movie or a life? Built in time for the Oscars ceremony, it has encouraged thousands of people to step forward and commit to donating their organs.</p>

      <div class="additional">
        <p>We did it by building a straightforward web application, that invited users to publicly share their intention to officially register as organ donors. In return, they would get a spoiler for an Oscar-nominated movie, proving they're willing to have a movie ruined for them, if that means saving someone's life.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://merorgandonation.se">MOD</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Codeship</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.spoilmoviessavelives.com" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--spoilmovies">
    <div class="intro">
      <%= image_tag 'case/spoil-movies/mac.jpg' %>
    </div>
    <div class="responsive">
      <%= image_tag 'case/spoil-movies/phones.png' %>
    </div>
    <div class="digital">
      <%= image_tag 'case/spoil-movies/digital.jpg' %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
