---
title: The Ice Breaker Machine – case study
description: "What should you order and what could you possible talk about? The Ice Breaker Machine from Tullamore Dew solves both problems."
page_type: work-item
share_image: case/ice-breaker/desktop-1.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>What should you order and what could you possible talk about?</h2>

      <p class="highlight">The Ice Breaker Machine from Tullamore Dew solves both problems.</p>

      <div class="additional">
        <p>By analyzing your Facebook profile and by sugaring it with different events related to the day you were born we create a drink that fits your personality and gives you some conversation topics to break the ice with. You also get a personal QR code. Show it to the robot and it will mix the drink for you.</p>

        <p>The project was made in collaboration with <a href="http://www.edelmandeportivo.com">Edelman Deportivo</a>. Andreas Hammar, Robert Mood and Björn Aneer from the collective SVART built the machine. We created the concept for the Facebook analysis and have been responsible for all technology.</p>

        <p>Read more:</p>

        <p>
          <a href="http://www.trendhunter.com/trends/ice-breaking">The Icebreaker Machine Customizes Drinks to Start Conversations</a><br>
          <small>Trend Hunter</small>
        </p>

        <p>
          <a href="http://creativity-online.com/work/tullamore-dew-icebreaker-machine/47553">Tullamore Dew Mixes Swedes Cocktails Based on Their Facebook Profiles</a><br>
          <small>Creativity Online</small>
        </p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.edelmandeportivo.com">Edelman Deportivo</a></li>
          <li><a href="https://www.tullamoredew.com">Tullamore Dew</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Facebook Graph API</li>
          <li>Heroku</li>
          <li>Pusher</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Codeship</li>
          <li>Cloudinary</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="https://www.theicebreakermachine.com/" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__feed">
    <div id="gridloader">
      <div class="blob blob-0"></div>
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
      <div class="blob blob-4"></div>
      <div class="blob blob-5"></div>
    </div>

    <div class="feed grid">

      <%= partial("partials/feed/image", :locals => {
        :image => "case/ice-breaker/desktop-1.png"
      }) %>

      <%= partial("partials/feed/image", :locals => {
        :image => "case/ice-breaker/desktop-2.png"
      }) %>

      <%= partial("partials/feed/image", :locals => {
        :image => "case/ice-breaker/desktop-3.png"
      }) %>

      <%= partial("partials/feed/image", :locals => {
        :image => "case/ice-breaker/desktop-4.png"
      }) %>

      <%= partial("partials/feed/image", :locals => {
        :image => "case/ice-breaker/phone-1.jpg"
      }) %>

      <%= partial("partials/feed/vimeo", :locals => {
        :video => "https://player.vimeo.com/video/170152226?title=0&byline=0&portrait=0"
      }) %>

      <%= partial("partials/feed/image", :locals => {
        :image => "case/ice-breaker/the-ice-breaker-machine.jpg"
      }) %>

      <%= partial("partials/feed/tweet", :locals => {
        :link => "https://twitter.com/th_drinking/status/740299650712768512"
      }) %>

      <%= partial("partials/feed/tweet", :locals => {
        :link => "https://twitter.com/deportivo/status/738406870407348224"
      }) %>

      <%= partial("partials/feed/image", :locals => {
        :image => "case/ice-breaker/the-ice-breaker-machine-drink.jpg"
      }) %>

      <%= partial("partials/feed/tweet", :locals => {
        :link => "https://twitter.com/mattiasronge/status/737701988012568580"
      }) %>

      <%= partial("partials/feed/image", :locals => {
        :image => "case/ice-breaker/ice-breaker-facebook.jpg"
      }) %>

      <!-- [TODO] Instagram component
      https://www.instagram.com/p/BGPh0VtFeHd/ -->

      <!-- [TODO] Instagram component
      https://www.instagram.com/p/BGFCPrHBrqJ/ -->

    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
