---
title: The Ice Breaker Machine – case study | Kollegorna
description: "Vad ska man beställa och vad i hela friden ska man prata om? Tullamore Dews robot The Icebreaker Machine löser båda problemen."
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Vad ska man beställa och vad i hela friden ska man prata om?</h2>

      <p class="highlight">Tullamore Dews robot The Icebreaker Machine löser båda problemen.</p>

      <div class="additional">
        <p>Genom att analysera din Facebook-profil och sockra med olika händelser relaterade till dagen du föddes tar vi fram en drink som passar din personlighet och några samtalsämnen att bryta isen med. Visa sedan upp din personliga QR-kod för roboten så sätter den igång att blanda drinken.</p>

        <p>Projektet är genomfört tillsammans med <a href="http://www.edelmandeportivo.com">Edelman Deportivo</a> samt Andreas Hammar, Robert Mood och Björn Aneer från kollektivet SVART som stått för byggandet av maskinen. Vi har gjort konceptutveckling av Facebook-analysen samt ansvarat för all teknik i webbläsare och på server.</p>

        <p>Mer läsning:</p>

        <p>
          <a href="http://www.trendhunter.com/trends/ice-breaking">The Icebreaker Machine Customizes Drinks to Start Conversations</a><br>
          <small>Trend Hunter</small>
        </p>

        <p>
          <a href="http://creativity-online.com/work/tullamore-dew-icebreaker-machine/47553">Tullamore Dew Mixes Swedes Cocktails Based on Their Facebook Profiles</a><br>
          <small>Creativity Online</small>
        </p>

        <p>
          <a href="http://www.expressen.se/tv/nyheter/ny-maskin-ska-hjalpa-dig-att-snacka/">Ny "maskin" ska hjälpa dig att snacka</a><br>
          <small>Expressen</small>
        </p>

        <p>
          <a href="http://www.resume.se/nyheter/artiklar/2016/05/31/whiskeymarke-levererar-icebreakers-baserad-pa-din-facebook/">Whiskeymärke levererar icebreakers baserad på din Facebook</a><br>
          <small>Resume</small>
        </p>

        <p>
          <a href="http://www.dagensmedia.se/marknadsforing/kampanjer/tullamore-dews-whiskymaskin-ska-radda-dig-fran-pinsam-tystnad-6577329">Tullamore Dews whiskymaskin ska rädda dig från pinsam tystnad</a><br>
          <small>Dagens Media</small>
        </p>

        <p>
          <a href="http://www.cafe.se/har-ar-drinkmaskinen-som-ska-bryta-isen-pa-festen/">Här är drinkmaskinen som ska bryta isen på festen</a><br>
          <small>Café</small>
        </p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.edelmandeportivo.com">Edelman Deportivo</a></li>
          <li><a href="https://www.tullamoredew.com">Tullamore Dew</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Facebook Graph API</li>
          <li>Heroku</li>
          <li>Pusher</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Codeship</li>
          <li>Cloudinary</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" targer="_blank" class="link">Besök</a><br>
      <a href="#" class="expand">More detail</a>
      <!-- a class="button button--primary" href="https://www.vembi.se">Besök</a -->
    </div>
  </section>

  <section class="case__feed">
    <div class="feed grid">

      <%= partial("components/feed/image", :locals => {
        :image => "case/ice-breaker/desktop-1.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/ice-breaker/desktop-2.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/ice-breaker/desktop-3.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/ice-breaker/desktop-4.png"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/ice-breaker/phone-1.jpg"
      }) %>

      <%= partial("components/feed/vimeo", :locals => {
        :video => "https://player.vimeo.com/video/170152226?title=0&byline=0&portrait=0"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/ice-breaker/the-ice-breaker-machine.jpg"
      }) %>

      <%= partial("components/feed/tweet", :locals => {
        :link => "https://twitter.com/th_drinking/status/740299650712768512"
      }) %>

      <%= partial("components/feed/tweet", :locals => {
        :link => "https://twitter.com/deportivo/status/738406870407348224"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/ice-breaker/the-ice-breaker-machine-drink.jpg"
      }) %>

      <%= partial("components/feed/tweet", :locals => {
        :link => "https://twitter.com/mattiasronge/status/737701988012568580"
      }) %>

      <%= partial("components/feed/image", :locals => {
        :image => "case/ice-breaker/ice-breaker-facebook.jpg"
      }) %>

      <!-- [TODO] Instagram component
      https://www.instagram.com/p/BGPh0VtFeHd/ -->

      <!-- [TODO] Instagram component
      https://www.instagram.com/p/BGFCPrHBrqJ/ -->

    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
