---
title: Valu8 – case study
description: "Valu8 Company Intelligence är en applikation som hjälper experter inom finanssektorn att screena och få detaljerad information om nordiska onoterade företag. Vi har hjälpt dem ta  produkten från en desktopmiljö direkt ut på webben."
page_type: work-item
share_image: case/valu8/selected.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h1>Valu8</h1>
      <h2>Utökad transparens och större insikt i onoterade bolag</h2>

      <p class="highlight">Valu8 Company Intelligence är en applikation som hjälper experter inom finanssektorn att screena och få detaljerad information om nordiska onoterade företag. Vi har hjälpt dem ta produkten från en desktopmiljö direkt ut på webben.</p>

      <div class="additional">
        <p>Vårt uppdrag gick ut på att redesigna företagets webbplats samt designa och utveckla en första webbversion av Valu8s kärnprodukt: Windowsapplikationen Valu8 Company Intelligence.</p>

        <p>Applikationen hade tidigare enbart existerat som en traditionell mjukvaruprodukt för PC-datorer som kör Windows. Men för att öka värdet för kunden samt driva produktens utveckling, bestämde sig Valu8 för att göra den tillgänglig direkt på webben och därmed öka såväl räckvidd som tillgänglighet. Vår uppgift var att se till att hoppet mellan desktop och webb skulle vara så sömlöst som möjligt, dess gränssnitt och funktioner skulle fungera precis som på desktop samtidigt som vi skulle dra nytta av de alla de fördelar som webben ger i förhållande till desktopmiljön. Sett till målgruppen och hur dess behov för användning såg ut, valde vi att göra gränssnittet responsivt och därmed dra nytta till fullo av möjligheterna till att visa stora mängder data på stora skärmar, samtidigt som den är användbar och tillgänglig på mobila enheter.</p>

        <p>Som användare kan du använda sök- och filtreringsverktygen för att effektivt screena företag. Du kan därefter skapa olika samlingar där intressanta företag sparas. Djupdyk in i detaljerad företagsinformation, kvartals- och årsrapporter, ägarinformation och annan finansiell data. Tjänsten tillhandahåller också verktyg för att analysera och jämföra information, följa företag samt notifieras när dessa uppdateras med ny information. All data kan även exporteras direkt till MS Office-kompatibla filformat.</p>

        <p>Själva produkten består i sig av två olika applikationer: användargränssnittet är byggt med Ember.js, vilket kommunicerar över ett REST API med en Ruby on Rails-applikation. Rails-appen hämtar data från databasen och gör det tyngsta jobbet för att säkerställa att gränssnittet erbjuder användaren bästa möjliga upplevelse.</p>

        <p>Notera: I juni 2016 köpte Valu8 upp fintechtjänsten Vembi, vilken vi har designat och byggt. Läs mer om Vembi i <a href="/sv/projekt/vembi">dess case study</a>.</p>

        <p>Läs även:</p>

        <p><a href="http://www.breakit.se/artikel/7420">Sveriges 100 största e-handlare – här är topplistan</a><br>
        <small>Breakits journalister använder data från Valu8 i sitt journalistiska arbete</small></p>

        <p><a href="http://www.vafinans.se/aktier/nyheter/Finansinformationsfoeretaget-Valu8-koeper-upp-Vembi-1001252767">Finansinformationsföretaget Valu8 köper upp Vembi</a><br>
        <small>VA Finans</small></p>

      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.valu8group.com/">Valu8</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:release_date] %></h3>
        <ul>
          <li>November 2016</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:languages] %></h3>
        <ul>
          <li>Ember.js</li>
          <li>Ruby on Rails</li>
          <li>Middleman</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tools] %></h3>
        <ul>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Honeybadger</li>
          <li>Codeship</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:platforms] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Amazon S3</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="http://www.valu8group.com/" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--valu8">
    <div class="device">
      <%= image_tag('case/valu8/homepage.png') %>
    </div>

    <div class="device">
      <%= image_tag('case/valu8/phones.png') %>
    </div>

    <div class="device">
      <%= image_tag('case/valu8/filter.png') %>
    </div>

    <div class="device">
      <%= image_tag('case/valu8/selected.png') %>
    </div>

    <div class="device">
      <%= image_tag('case/valu8/search.jpg') %>
    </div>

    <div class="ui">
      <%= image_tag('case/valu8/ui.png') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
