---
title: Valu8 – case study
description: "Spare ribs pancetta ham cow shank frankfurter picanha tenderloin swine sausage pork filet mignon. Cow shank rump tenderloin pig kielbasa. Boudin andouille short loin rump pig short ribs meatloaf pork chop t-bone brisket turkey landjaeger meatball fatback."
page_type: work-item
share_image: case/lanneberg-bexelius/brand_goods.png
---

<article role="main" class="case">

  <section class="case__content">
    <div class="case__description">
      <h2>Bacon ipsum dolor amet hamburger pastrami swine alcatra sausage bacon biltong.</h2>

      <p class="highlight">Spare ribs pancetta ham cow shank frankfurter picanha tenderloin swine sausage pork filet mignon. Cow shank rump tenderloin pig kielbasa. Boudin andouille short loin rump pig short ribs meatloaf pork chop t-bone brisket turkey landjaeger meatball fatback.</p>

      <div class="additional">
        <p>Meatball ribeye shankle jerky landjaeger swine porchetta doner frankfurter prosciutto shank pancetta. Brisket ribeye frankfurter, capicola venison kevin cupim t-bone. Pork belly cupim pork loin filet mignon rump tongue pancetta. Landjaeger jowl pancetta short ribs boudin shankle shank frankfurter capicola hamburger turkey prosciutto flank t-bone strip steak.</p>
      </div>
    </div>

    <div class="case__facts">
      <div class="sheet">
        <h3><%= t(:cases)[:client] %></h3>
        <ul>
          <li><a href="http://www.valu8group.com/">Valu8</a></li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:tech] %></h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>Middleman</li>
        </ul>
      </div>

      <div class="sheet">
        <h3><%= t(:cases)[:services] %></h3>
        <ul>
          <li>Heroku</li>
          <li>Mixpanel</li>
          <li>Google Analytics</li>
          <li>Amazon S3</li>
          <li>Codeship</li>
        </ul>
      </div>
    </div>

    <div class="case__cta">
      <a href="#" class="expand"><%= t(:cases)[:more_detail] %></a>
      <a href="http://www.valu8group.com/" target="_blank" rel="noopener" class="link"><%= t(:cases)[:visit] %></a>
    </div>
  </section>

  <section class="case__study case--valu8">
    <div class="device">
      <%= image_tag('case/valu8/homepage.png') %>
    </div>

    <div class="device">
      <%= image_tag('case/valu8/phones.png') %>
    </div>

    <div class="device">
      <%= image_tag('case/valu8/filter.png') %>
    </div>

    <div class="device">
      <%= image_tag('case/valu8/selected.png') %>
    </div>

    <div class="device">
      <%= image_tag('case/valu8/search.jpg') %>
    </div>

    <div class="ui">
      <%= image_tag('case/valu8/ui.png') %>
    </div>
  </section>
  <!-- / .case__media -->
</article>
<!-- / .case -->
