---
title: Case Studies
---

<main role="main" class="work">
  <section class="work__feed">
    <div class="work__feed__blocks feed">
      <%= partial("components/feed/case_study", :locals => {
        :title => "Lanneberg Bexelius",
        :text => "Company branding for a personal branding company",
        :image => "feed/case-study-lb.png",
        :background_color => "#3b1c32",
        :text_color => "white"
      }) %>

      <%= partial("components/feed/case_study", :locals => {
        :title => "Celine Beyond",
        :text => "Be the change you want to hear in the world",
        :image => "feed/case-study-celine-beyond.png",
        :background_color => "#1eff7f",
        :text_color => "black"
      }) %>

      <%= partial("components/feed/case_study", :locals => {
        :title => "SKL Genombrott",
        :text => "Turning ideas into improvements in healthcare",
        :image => "feed/case-study-celine-beyond.png",
        :background_color => "#F2F2F2",
        :text_color => "black"
      }) %>

      <%= partial("components/feed/case_study", :locals => {
        :title => "Vembi",
        :text => "Unique ownership information for swedish companies",
        :image => "feed/case-study-vembi.png",
        :background_color => "#59d3ef",
        :text_color => "black"
      }) %>

      <%= partial("components/feed/case_study", :locals => {
        :title => "The Icebreaker Machine",
        :text => "What should you order and what could you possibly talk about?",
        :image => "feed/case-study-icebreaker.png",
        :background_color => "#225c37",
        :text_color => "white"
      }) %>

      <%= partial("components/feed/case_study", :locals => {
        :title => "Releasefest",
        :text => "Hooray for Swedish digital projects and products!",
        :image => "feed/case-study-vembi.png",
        :background_color => "#fecc05",
        :text_color => "black"
      }) %>

    </div>
  </section>
</main>
